<footer class="footer">
    <div class="top-footer">
        <div class="container2">
            <div class="top-footer__body">
                <div class="top-footer__left">
                    <a href="./" class="top-footer__logo">
                        <img loading="lazy" src="img/icon/logo.svg" alt="">
                    </a>
                    <div class="contacts">
                        <a href="mailto:support@oknabobr.ru" class="contacts__item">
                            <img src="img/icon/mail2.svg" alt="">
                            <span>support@oknabobr.ru</span>
                        </a>
                        <div class="contacts__item">
                            <img src="img/icon/time2.svg" alt="">
                            <span>ежедневно с 10 до 19</span>
                        </div>
                    </div>
                </div>
                <div class="top-footer__right">
                    <a href="./" class="btn-calc">
                        <img src="img/image33.webp" alt="">
                        <span>Калькулятор стоимости</span>
                    </a>
                    <a href="./" data-popup="#call"  class="btn btn-img">
                        <img src="img/image34.webp" alt="">
                        <span>Бесплатный замер</span>
                    </a>
                    <div class="phone">
                        <a href="tel:84951288076" class="tel">8 (495) 128-80-76</a>
                        <a href="./" data-popup="#call" class="call">Заказать звонок</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-footer">
        <div class="container2">
            <div class="bottom-footer__body">
                <div class="bottom-footer__copy">
                    © oknabobr.ru 2025 все права защищены
                </div>
                <a href="./">Политика конфиденциальности</a>
            </div>
        </div>
    </div>
</footer>