<header class="header">
  <div class="top-header">
    <div class="container2">
      <div class="top-header__body">
        <div class="contacts">
          <a href="mailto:support@oknabobr.ru" class="contacts__item">
            <img src="img/icon/mail2.svg" alt="">
            <span>support@oknabobr.ru</span>
          </a>
          <div class="contacts__item">
            <img src="img/icon/time2.svg" alt="">
            <span>ежедневно с 10 до 19</span>
          </div>
          <div class="socials">
            <a href="./">
              <img src="img/icon/telegram.svg" alt="">
            </a>
            <a href="./">
              <img src="img/icon/vk.svg" alt="">
            </a>
            <a href="./">
              <img src="img/icon/whatsapp.svg" alt="">
            </a>
          </div>
        </div>
        <div class="menu">
          <nav class="menu__body">
            <ul data-spollers="1200,max" class="menu__list">
              <li class="menu__item">
                <div data-spoller class="menu__link">
                  <a href="./">Услуги</a>
                  <button type="button" class="menu__arrow">
                    <img src="img/icon/arrow1.svg" alt="">
                  </button>
                </div>
                <div class="menu__dropdown">
                  <ul>
                    <li>
                      <a href="./">Ремонт замена ручек</a>
                    </li>
                    <li>
                      <a href="./">Бесплатный замер и консультация</a>
                    </li>
                    <li>
                      <a href="./">Доставка</a>
                    </li>
                    <li>
                      <a href="./">Монтаж</a>
                    </li>
                    <li>
                      <a href="./">Замена старых окон</a>
                    </li>
                    <li>
                      <a href="./">Демонтаж старых окон</a>
                    </li>
                    <li>
                      <a href="./">Остекление фасадов</a>
                    </li>
                    <li>
                      <a href="./">Отделка балконов</a>
                    </li>
                    <li>
                      <a href="./">Окосячка</a>
                    </li>
                    <li>
                      <a href="./">Установка подоконников</a>
                    </li>
                    <li>
                      <a href="./">Отделка откосов</a>
                    </li>
                    <li>
                      <a href="./">Монтаж отливов</a>
                    </li>
                    <li>
                      <a href="./">Монтаж отливов</a>
                    </li>
                    <li>
                      <a href="./">Вывоз мусора</a>
                    </li>
                    <li>
                      <a href="./">Ремонт и обслуживание окон</a>
                    </li>
                    <li>
                      <a href="./">Установка дополнительных элементов безопасности</a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="menu__item">
                <div data-spoller class="menu__link">
                  <a href="./">Клиентам</a>
                  <button type="button" class="menu__arrow">
                    <img src="img/icon/arrow1.svg" alt="">
                  </button>
                </div>
                <div class="menu__dropdown">
                  <ul>
                    <li>
                      <a href="./">Ремонт замена ручек</a>
                    </li>
                    <li>
                      <a href="./">Бесплатный замер и консультация</a>
                    </li>
                    <li>
                      <a href="./">Доставка</a>
                    </li>
                    <li>
                      <a href="./">Монтаж</a>
                    </li>
                    <li>
                      <a href="./">Замена старых окон</a>
                    </li>
                    <li>
                      <a href="./">Демонтаж старых окон</a>
                    </li>
                    <li>
                      <a href="./">Остекление фасадов</a>
                    </li>
                    <li>
                      <a href="./">Отделка балконов</a>
                    </li>
                    <li>
                      <a href="./">Окосячка</a>
                    </li>
                    <li>
                      <a href="./">Установка подоконников</a>
                    </li>
                    <li>
                      <a href="./">Отделка откосов</a>
                    </li>
                    <li>
                      <a href="./">Монтаж отливов</a>
                    </li>
                    <li>
                      <a href="./">Монтаж отливов</a>
                    </li>
                    <li>
                      <a href="./">Вывоз мусора</a>
                    </li>
                    <li>
                      <a href="./">Ремонт и обслуживание окон</a>
                    </li>
                    <li>
                      <a href="./">Установка дополнительных элементов безопасности</a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="menu__item">
                <a href="./" data-spoller data-goto-header data-goto=".block-before-after" class="menu__link">Наши
                  работы</a>
                <div class="menu__dropdowm"></div>
              </li>
              <li class="menu__item">
                <a href="./" data-spoller data-goto-header data-goto=".block-reviews" class="menu__link">Отзывы</a>
                <div class="menu__dropdown"></div>
              </li>
              <li class="menu__item">
                <a href="./" data-spoller data-goto-header data-goto=".block-questions" class="menu__link">FAQ</a>
                <div class="menu__dropdown"></div>
              </li>
              <li class="menu__item">
                <div data-spoller class="menu__link">
                  <a href="./">О компании</a>
                  <button type="button" class="menu__arrow">
                    <img src="img/icon/arrow1.svg" alt="">
                  </button>
                </div>
                <div class="menu__dropdown">
                  <ul>
                    <li>
                      <a href="./">Ремонт замена ручек</a>
                    </li>
                    <li>
                      <a href="./">Бесплатный замер и консультация</a>
                    </li>
                    <li>
                      <a href="./">Доставка</a>
                    </li>
                    <li>
                      <a href="./">Монтаж</a>
                    </li>
                    <li>
                      <a href="./">Замена старых окон</a>
                    </li>
                    <li>
                      <a href="./">Демонтаж старых окон</a>
                    </li>
                    <li>
                      <a href="./">Остекление фасадов</a>
                    </li>
                    <li>
                      <a href="./">Отделка балконов</a>
                    </li>
                    <li>
                      <a href="./">Окосячка</a>
                    </li>
                    <li>
                      <a href="./">Установка подоконников</a>
                    </li>
                    <li>
                      <a href="./">Отделка откосов</a>
                    </li>
                    <li>
                      <a href="./">Монтаж отливов</a>
                    </li>
                    <li>
                      <a href="./">Монтаж отливов</a>
                    </li>
                    <li>
                      <a href="./">Вывоз мусора</a>
                    </li>
                    <li>
                      <a href="./">Ремонт и обслуживание окон</a>
                    </li>
                    <li>
                      <a href="./">Установка дополнительных элементов безопасности</a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="menu__item">
                <a href="./" data-spoller class="menu__link">Статьи</a>
                <div class="menu__dropdowm"></div>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <div class="center-header">
    <div class="container2">
      <div class="center-header__body">
        <button type="button" class="icon-menu"><span></span></button>
        <div class="center-header__left">
          <a href="./" class="center-header__logo">
            <img src="img/icon/logo.svg" alt="">
          </a>
          <p>
            <span>Производство и монтаж</span>
            <br>
            пластиковых окон
          </p>
        </div>
        <a href="./" class="center-header__phone">
          <img src="img/icon/phone.svg" alt="">
        </a>
        <div data-da=".top-header__body, 1200" class="center-header__right">
          <a href="./" data-goto-header data-goto=".block-calculator" class="btn-calc">
            <img src="img/image33.webp" alt="">
            <span>Калькулятор стоимости</span>
          </a>
          <a href="./" data-popup="#call" class="btn btn-img">
            <img src="img/image34.webp" alt="">
            <span>Бесплатный замер</span>
          </a>
          <div data-da=".contacts, 1200, last" class="phone">
            <a href="tel:84951288076" class="tel">8 (495) 128-80-76</a>
            <a href="./" data-popup="#call" class="call">Заказать звонок</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-header">
    <div class="container2">
      <button type="button" class="bottom-header__catalog btn btn-orange"><span>Каталог товаров</span></button>
      <div class="bottom-header__body">
        <div class="menu">
          <nav class="menu__body">
            <ul data-spollers="1200,max" class="menu__list">
              <li class="menu__item">
                <div data-spoller class="menu__link">
                  <a href="./">Пластиковые Окна</a>
                  <button type="button" class="menu__arrow">
                    <img src="img/icon/arrow1.svg" alt="">
                  </button>
                </div>
                <div class="menu__dropdown">
                  <ul>
                    <li>
                      <a href="./">В квартиру</a>
                    </li>
                    <li>
                      <a href="./">В дом</a>
                    </li>
                    <li>
                      <a href="./">Алюминиевые</a>
                    </li>
                    <li>
                      <a href="./">Нестандартные</a>
                    </li>
                    <li>
                      <a href="./">Ламинированные</a>
                    </li>
                    <li>
                      <a href="./">Цветные</a>
                    </li>
                    <li>
                      <a href="./">Под дерево</a>
                    </li>
                    <li>
                      <a href="./">По серии дома</a>
                    </li>
                    <li>
                      <a href="./">Деревянные</a>
                    </li>
                    <li>
                      <a href="./">Мягкие</a>
                    </li>
                    <li>
                      <a href="./">Готовые</a>
                    </li>
                    <li>
                      <a href="./">Оконные блоки</a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="menu__item">
                <div data-spoller class="menu__link">
                  <a href="./">Двери</a>
                  <button type="button" class="menu__arrow">
                    <img src="img/icon/arrow1.svg" alt="">
                  </button>
                </div>
                <div class="menu__dropdown">
                  <ul>
                    <li>
                      <a href="./">В квартиру</a>
                    </li>
                    <li>
                      <a href="./">В дом</a>
                    </li>
                    <li>
                      <a href="./">Алюминиевые</a>
                    </li>
                    <li>
                      <a href="./">Нестандартные</a>
                    </li>
                    <li>
                      <a href="./">Ламинированные</a>
                    </li>
                    <li>
                      <a href="./">Цветные</a>
                    </li>
                    <li>
                      <a href="./">Под дерево</a>
                    </li>
                    <li>
                      <a href="./">По серии дома</a>
                    </li>
                    <li>
                      <a href="./">Деревянные</a>
                    </li>
                    <li>
                      <a href="./">Мягкие</a>
                    </li>
                    <li>
                      <a href="./">Готовые</a>
                    </li>
                    <li>
                      <a href="./">Оконные блоки</a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="menu__item">
                <div data-spoller class="menu__link">
                  <a href="./">Балконы/Лоджии</a>
                  <button type="button" class="menu__arrow">
                    <img src="img/icon/arrow1.svg" alt="">
                  </button>
                </div>
                <div class="menu__dropdown">
                  <ul>
                    <li>
                      <a href="./">В квартиру</a>
                    </li>
                    <li>
                      <a href="./">В дом</a>
                    </li>
                    <li>
                      <a href="./">Алюминиевые</a>
                    </li>
                    <li>
                      <a href="./">Нестандартные</a>
                    </li>
                    <li>
                      <a href="./">Ламинированные</a>
                    </li>
                    <li>
                      <a href="./">Цветные</a>
                    </li>
                    <li>
                      <a href="./">Под дерево</a>
                    </li>
                    <li>
                      <a href="./">По серии дома</a>
                    </li>
                    <li>
                      <a href="./">Деревянные</a>
                    </li>
                    <li>
                      <a href="./">Мягкие</a>
                    </li>
                    <li>
                      <a href="./">Готовые</a>
                    </li>
                    <li>
                      <a href="./">Оконные блоки</a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="menu__item">
                <div data-spoller class="menu__link">
                  <a href="./">Профили</a>
                  <button type="button" class="menu__arrow">
                    <img src="img/icon/arrow1.svg" alt="">
                  </button>
                </div>
                <div class="menu__dropdown">
                  <ul>
                    <li>
                      <a href="./">В квартиру</a>
                    </li>
                    <li>
                      <a href="./">В дом</a>
                    </li>
                    <li>
                      <a href="./">Алюминиевые</a>
                    </li>
                    <li>
                      <a href="./">Нестандартные</a>
                    </li>
                    <li>
                      <a href="./">Ламинированные</a>
                    </li>
                    <li>
                      <a href="./">Цветные</a>
                    </li>
                    <li>
                      <a href="./">Под дерево</a>
                    </li>
                    <li>
                      <a href="./">По серии дома</a>
                    </li>
                    <li>
                      <a href="./">Деревянные</a>
                    </li>
                    <li>
                      <a href="./">Мягкие</a>
                    </li>
                    <li>
                      <a href="./">Готовые</a>
                    </li>
                    <li>
                      <a href="./">Оконные блоки</a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="menu__item">
                <div data-spoller class="menu__link">
                  <a href="./">Остекление</a>
                  <button type="button" class="menu__arrow">
                    <img src="img/icon/arrow1.svg" alt="">
                  </button>
                </div>
                <div class="menu__dropdown">
                  <ul>
                    <li>
                      <a href="./">В квартиру</a>
                    </li>
                    <li>
                      <a href="./">В дом</a>
                    </li>
                    <li>
                      <a href="./">Алюминиевые</a>
                    </li>
                    <li>
                      <a href="./">Нестандартные</a>
                    </li>
                    <li>
                      <a href="./">Ламинированные</a>
                    </li>
                    <li>
                      <a href="./">Цветные</a>
                    </li>
                    <li>
                      <a href="./">Под дерево</a>
                    </li>
                    <li>
                      <a href="./">По серии дома</a>
                    </li>
                    <li>
                      <a href="./">Деревянные</a>
                    </li>
                    <li>
                      <a href="./">Мягкие</a>
                    </li>
                    <li>
                      <a href="./">Готовые</a>
                    </li>
                    <li>
                      <a href="./">Оконные блоки</a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="menu__item sale">
                <a href="./" data-spoller class="menu__link">Акции</a>
                <div class="menu__dropdown"></div>
              </li>
            </ul>
          </nav>
        </div>
        <div class="search">
          <div class="search__input">
            <input autocomplete="off" type="text" name="form[]" placeholder="Поиск по сайту">
          </div>
          <button data-da=".search__input, 1200, last" type="button" class="search__button">
            <img src="img/icon/search.svg" alt="">
          </button>
        </div>
      </div>
    </div>
  </div>
</header>