<div id="call" aria-hidden="true" class="popup">
    <div class="popup__wrapper">
        <div class="popup__content">
            <div data-close class="popup__close">
                <img loading="lazy" src="img/icon/close.svg" alt="">
            </div>
            <div class="popup__body">
                <div class="popup__title">Заказать звонок</div>
                <form action="#" class="form">
                    <div class="form__inputs">
                        <div class="form__input">
                            <img loading="lazy" src="img/icon/user.svg" alt="" class="form__icon">
                            <input autocomplete="off" type="text" name="form[]" placeholder="Ваше имя">
                        </div>
                        <div class="form__input">
                            <img loading="lazy" src="img/icon/phone.svg" alt="" class="form__icon">
                            <input data-required type="text" autocomplete="off" name="form[]" placeholder=""
                                class="telephone">
                            <div class="form__placeholder"><span>+7</span> (___) ___ - __ - __</div>
                        </div>
                    </div>
                    <button type="submit" class="btn">
                        <span>Заказать<br> обратный звонок</span>
                    </button>
                    <div class="form__text">
                        <img src="img/icon/check.svg" alt="">
                        <span>Вы соглашаетесь на условие обработки <a href="./"><span>персональных
                                    данных</span></a></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>