<!DOCTYPE html>
<html lang="ru">

<head>
	<title>Главная страница</title>
	{% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
	<div class="main-wrapper-outer">
		{% include 'blocks/header.njk' %}
		<main class="main">

			<div class="block-intro block1">
				<div class="container">
					<div class="block-intro__content">
						<div class="block-intro__slider swiper">
							<div class="block-intro__wrapper swiper-wrapper">
								<div class="block-intro__slide swiper-slide">
									<img src="img/bg1.webp" alt="" class="block-intro__bg">
									<div class="block-intro__body container2">
										<div class="block-intro__item">
											<div class="title1">
												Пластиковые окна со скидкой до <span>20%</span>
											</div>
											<div class="block-intro__time">
												<img src="img/time.webp" alt="">
												<span>Акция действует до 31 августа 2025 года</span>
											</div>
											<form action="#" class="form">
												<div class="form__title">
													<span>Узнайте условие акции</span> и
													забронируйте скидку
												</div>
												<div class="form__inputs">
													<div class="form__input">
														<img loading="lazy" src="img/icon/phone.svg" alt=""
															class="form__icon">
														<input data-required type="text" autocomplete="off"
															name="form[]" placeholder="" class="telephone">
														<div class="form__placeholder"><span>+7</span> (___) ___ - __ -
															__
														</div>
													</div>
													<button type="submit" class="btn">
														<span>Забронировать скидку -20%</span>
													</button>
												</div>
												<div class="form__text">
													<img src="img/icon/check.svg" alt="">
													<span>
														Вы соглашаетесь на условие обработки <a href="./">персональных
															данных</a>
													</span>
												</div>
											</form>
										</div>
									</div>
									<img src="img/image1.webp" alt="" class="block-intro__pic">
								</div>
								<div class="block-intro__slide swiper-slide">
									<img src="img/bg1.webp" alt="" class="block-intro__bg">
									<div class="block-intro__body container2">
										<div class="block-intro__item">
											<div class="title1">
												Двухстворчатые окна <span>от 8 590 р</span>
											</div>
											<p>
												Оборудование нашего завода в Москве позволяет изготавливать следующие
												типы продукции для частного дома: квадратные, панорамные, прямоугольные,
												арочные и треугольные. В качестве основы можно выбрать холодные и теплые
												рамы из пластика, дерева или алюминия
											</p>
											<a href="./" class="btn">
												<span>Получить расчет</span>
											</a>
										</div>
									</div>
									<img src="img/image3.webp" alt="" class="block-intro__pic">
								</div>
								<div class="block-intro__slide swiper-slide">
									<img src="img/bg1.webp" alt="" class="block-intro__bg">
									<div class="block-intro__body container2">
										<div class="block-intro__item">
											<div class="title1">
												Новые окна в вашей квартире <span>за 1-3 дня</span>
											</div>
											<p>
												В Москве и Московской области наша компания имеет широкий ассортимент
												ПВХ конструкций для квартир, отличающихся уровнем теплозащиты, числом
												воздушных камер и звукоизоляционными показателями
											</p>
											<a href="./" class="btn">
												<span>Получить расчет</span>
											</a>
										</div>
									</div>
									<img src="img/image4.webp" alt="" class="block-intro__pic">
								</div>
								<div class="block-intro__slide swiper-slide white">
									<img src="img/bg1.webp" alt="" class="block-intro__bg">
									<div class="block-intro__body container2">
										<div class="block-intro__item">
											<div class="title1">
												Алюминиевые окна со скидкой до <span>15%</span>
											</div>
											<ul>
												<li>
													<img src="img/icon/check3.svg" alt="">
													<span>Срок службы до 80 лет</span>
												</li>
												<li>
													<img src="img/icon/check3.svg" alt="">
													<span>Нулевая горючесть</span>
												</li>
												<li>
													<img src="img/icon/check3.svg" alt="">
													<span>Экологическая чистота</span>
												</li>
												<li>
													<img src="img/icon/check3.svg" alt="">
													<span>Разные варианты обработки</span>
												</li>
											</ul>
											<a href="./" class="btn">
												<span>Узнать подробнее</span>
											</a>
										</div>
									</div>
									<img src="img/image5.webp" alt="" class="block-intro__pic">
								</div>
								<div class="block-intro__slide swiper-slide">
									<img src="img/bg1.webp" alt="" class="block-intro__bg">
									<div class="block-intro__body container2">
										<div class="block-intro__item">
											<div class="title1">
												Пластиковые окна со скидкой до <span>20%</span>
											</div>
											<div class="block-intro__time">
												<img loading="lazy" src="img/icon/check3.svg" alt="">
												<span>Легкость, прочность, высокая износостойкость алюминия делают
													конструкции из него долговечными.
													Устойчивость к коррозии и деформациям</span>
											</div>
											<a href="./" class="btn">Узнать подробнее</a>
										</div>
									</div>
									<img src="img/image6.webp" alt="" class="block-intro__pic">
								</div>
								<div class="block-intro__slide swiper-slide white">
									<img src="img/bg1.webp" alt="" class="block-intro__bg">
									<div class="block-intro__body container2">
										<div class="block-intro__item">
											<div class="title1">
												Остекление балконов и лоджий <span>от 27 000 р</span>
											</div>
											<div class="block-intro__time">
												<img loading="lazy" src="img/icon/check3.svg" alt="">
												<span>
													Со скидкой 35% и рассрочкой до 12 месяцев!
												</span>
											</div>
											<a href="./" class="btn">Получить расчет</a>
										</div>
									</div>
									<img src="img/image7.webp" alt="" class="block-intro__pic">
								</div>
								<div class="block-intro__slide swiper-slide">
									<img src="img/bg1.webp" alt="" class="block-intro__bg">
									<div class="block-intro__body container2">
										<div class="block-intro__item">
											<div class="title1">
												Немецкие окна Rehau <span>от 5 460 р</span>
											</div>
											<p>
												Наша компания является дилером бренда Rehau, позволяя без посредников
												приобрести немецкие пластиковые окна с профилем шириной 60, 70 и 80 мм.
												Он совместим со стандартными и утепленными стеклопакетами, фурнитурой
												ведущих европейских производителей
											</p>
											<a href="./" class="btn">
												<span>Получить расчет</span>
											</a>
										</div>
									</div>
									<img src="img/image8.webp" alt="" class="block-intro__pic">
								</div>
							</div>
						</div>
						<div class="block-intro__pagination swiper-pagination"></div>
						<div class="block-intro__arrow-prev arrow-prev">
							<img src="img/icon/arrow1.svg" alt="">
						</div>
						<div class="block-intro__arrow-next arrow-next">
							<img src="img/icon/arrow1.svg" alt="">
						</div>
					</div>
				</div>
			</div>

			<div class="block-section block1">
				<div class="container2">
					<div class="heading-complex">
						<h2 class="title2">
							Почему выбирают нас <span>?</span>
						</h2>
					</div>
					<div class="block-section__body">
						<div class="block-section__column">
							<div class="block-section__top">
								<div class="block-section__image">
									<img loading="lazy" src="img/image13.webp" alt="" class="block-section__pic">
									<div class="block-section__icon">
										<img loading="lazy" src="img/icon/icon1.svg" alt="">
									</div>
								</div>
								<div class="block-section__title">Соблюдение сроков доставки</div>
							</div>
							<p>
								Доставка окон в Москве и области
								осуществляется собственным транспортом
								компании в сроки, оговоренные при
								оформлении заказа. для доставки
								используются специально оборудованные
								автомобили, которые гарантируют
								максимальную сохранность оконных
								блоков
							</p>
						</div>
						<div class="block-section__column">
							<div class="block-section__top">
								<div class="block-section__image">
									<img loading="lazy" src="img/image14.webp" alt="" class="block-section__pic">
									<div class="block-section__icon">
										<img loading="lazy" src="img/icon/icon2.svg" alt="">
									</div>
								</div>
								<div class="block-section__title">Разгрузка и подъем на этаж</div>
							</div>
							<p>
								Мы доставим заказ и аккуратно поднимем его на любой этаж. Стоимость услуги определяется
								исходя из количества окон и условий разгрузки и подъема
							</p>
						</div>
						<div class="block-section__column">
							<div class="block-section__top">
								<div class="block-section__image">
									<img loading="lazy" src="img/image15.webp" alt="" class="block-section__pic">
									<div class="block-section__icon">
										<img loading="lazy" src="img/icon/icon3.svg" alt="">
									</div>
								</div>
								<div class="block-section__title">Профессиональный монтаж</div>
							</div>
							<p>
								Установочные работы выполняют квалифицированные специалисты, регулярно проходящие курсы
								повышения квалификации и имеющие все необходимые допуски для данного вида работ. Мы
								производим замену окон и монтаж систем остекления «под ключ» в соответствии с
								требованиями ГОСТ и СНиП
							</p>
						</div>
						<div class="block-section__column">
							<div class="block-section__top">
								<div class="block-section__image">
									<img loading="lazy" src="img/image16.webp" alt="" class="block-section__pic">
									<div class="block-section__icon">
										<img loading="lazy" src="img/icon/icon4.svg" alt="">
									</div>
								</div>
								<div class="block-section__title">Гарантия на все виды работ</div>
							</div>
							<p>
								Наша компания осуществляет гарантийное
								и постгарантийное обслуживание систем
								остекления, а на установочные работы мы
								даем 5 лет гарантии. В течение этого срока
								любые дефекты и неисправности,
								связанные с монтажом, мы устраним
								максимально оперативно и совершенно
								бесплатно
							</p>
						</div>
					</div>
				</div>
			</div>

			<div class="block-filter block1">
				<div class="container">
					<div class="block-filter__content">
						<div class="block-filter__inner container2">
							<div class="block-filter__selects">
								<select name="select1" data-placeholder="Окна" class="select">
									<option value="" disabled selected>Окна</option>
									<option value="1">Окна №2</option>
									<option value="2">Окна №3</option>
									<option value="3">Окна №4</option>
								</select>
								<select name="select2" data-placeholder="Все бренды" class="select">
									<option value="" disabled selected>Все бренды</option>
									<option value="1">Все бренды №2</option>
									<option value="2">Все бренды №3</option>
									<option value="3">Все бренды №4</option>
								</select>
								<select name="select3" data-placeholder="Типы" class="select">
									<option value="" disabled selected>Типы</option>
									<option value="1">Типы №2</option>
									<option value="2">Типы №3</option>
									<option value="3">Типы №4</option>
								</select>
								<select name="select4" data-placeholder="Назначения" class="select">
									<option value="" disabled selected>Назначения</option>
									<option value="1">Назначения №2</option>
									<option value="2">Назначения №3</option>
									<option value="3">Назначения №4</option>
								</select>
								<select name="select5" data-placeholder="Стоимость" class="select">
									<option value="" disabled selected>Стоимость</option>
									<option value="1">Стоимость №2</option>
									<option value="2">Стоимость №3</option>
									<option value="3">Стоимость №4</option>
								</select>
							</div>
							<div class="block-filter__body">
								<div class="heading-complex">
									<h2 class="title2">Цены на пластиковые окна</h2>
								</div>
								<div class="filter-nav">
									<button type="button" data-filter="all" class="filter-nav__button _active">
										<span>Все</span>
									</button>
									<button type="button" data-filter="product1" class="filter-nav__button">
										<span>KBE</span>
									</button>
									<button type="button" data-filter="product2" class="filter-nav__button">
										<span>Rehau</span>
									</button>
									<button type="button" data-filter="product3" class="filter-nav__button">
										<span>Montblank</span>
									</button>
									<button type="button" data-filter="product4" class="filter-nav__button">
										<span>Novotex</span>
									</button>
									<button type="button" data-filter="product5" class="filter-nav__button">
										<span>Veka</span>
									</button>
									<button type="button" data-filter="product6" class="filter-nav__button">
										<span>Melke</span>
									</button>
								</div>
								<div class="block-filter__cards">
									<div data-filter="product1" class="card-product">
										<div class="card-product__image">
											<div class="card-product__badge">
												В рассрочку: <span><span class="fz">925 р</span> /месяц</span>
											</div>
											<img src="img/products/image1.webp" alt="">
										</div>
										<div class="card-product__center">
											<div class="card-product__title">
												Окно ПВХ двухстворчатое
											</div>
											<ul>
												<li>
													<div class="card-product__name">Размеры</div>
													<span></span>
													<div class="card-product__value">1000х1200 мм</div>
												</li>
												<li>
													<div class="card-product__name">Профиль</div>
													<span></span>
													<div class="card-product__value">Gut</div>
												</li>
												<li>
													<div class="card-product__name">Кол-во камер</div>
													<span></span>
													<div class="card-product__value">3 камеры</div>
												</li>
												<li>
													<div class="card-product__name">Толщина стеклопакета</div>
													<span></span>
													<div class="card-product__value">32 мм</div>
												</li>
												<li>
													<div class="card-product__name">Фурнитура</div>
													<span></span>
													<div class="card-product__value">Roto</div>
												</li>
											</ul>
										</div>
										<div class="card-product__bottom">
											<div class="card-product__prices">
												<div class="card-product__old-price">от 15 797 р</div>
												<div class="card-product__sale">-25%</div>
												<div class="card-product__price">от 10 268 р</div>
											</div>
											<a href="./" data-popup="#call" class="btn">
												<span>Заказать окно</span>
											</a>
										</div>
									</div>
									<div data-filter="product2" class="card-product">
										<div class="card-product__image">
											<div class="card-product__badge">
												В рассрочку: <span><span class="fz">1 198 р</span> /месяц</span>
											</div>
											<img src="img/products/image1.webp" alt="">
										</div>
										<div class="card-product__center">
											<div class="card-product__title">
												Окно ПВХ двухстворчатое
											</div>
											<ul>
												<li>
													<div class="card-product__name">Размеры</div>
													<span></span>
													<div class="card-product__value">1000х1200 мм</div>
												</li>
												<li>
													<div class="card-product__name">Профиль</div>
													<span></span>
													<div class="card-product__value">Gut</div>
												</li>
												<li>
													<div class="card-product__name">Кол-во камер</div>
													<span></span>
													<div class="card-product__value">3 камеры</div>
												</li>
												<li>
													<div class="card-product__name">Толщина стеклопакета</div>
													<span></span>
													<div class="card-product__value">32 мм</div>
												</li>
												<li>
													<div class="card-product__name">Фурнитура</div>
													<span></span>
													<div class="card-product__value">Roto</div>
												</li>
											</ul>
										</div>
										<div class="card-product__bottom">
											<div class="card-product__prices">
												<div class="card-product__old-price">от 15 797 р</div>
												<div class="card-product__sale">-25%</div>
												<div class="card-product__price">от 10 268 р</div>
											</div>
											<a href="./" data-popup="#call" class="btn">
												<span>Заказать окно</span>
											</a>
										</div>
									</div>
									<div data-filter="product3" class="card-product">
										<div class="card-product__image">
											<div class="card-product__badge">
												В рассрочку: <span><span class="fz">1 401 р</span> /месяц</span>
											</div>
											<img src="img/products/image1.webp" alt="">
										</div>
										<div class="card-product__center">
											<div class="card-product__title">
												Балконный блок
											</div>
											<ul>
												<li>
													<div class="card-product__name">Размеры</div>
													<span></span>
													<div class="card-product__value">1000х1200 мм</div>
												</li>
												<li>
													<div class="card-product__name">Профиль</div>
													<span></span>
													<div class="card-product__value">Gut</div>
												</li>
												<li>
													<div class="card-product__name">Кол-во камер</div>
													<span></span>
													<div class="card-product__value">3 камеры</div>
												</li>
												<li>
													<div class="card-product__name">Толщина стеклопакета</div>
													<span></span>
													<div class="card-product__value">32 мм</div>
												</li>
												<li>
													<div class="card-product__name">Фурнитура</div>
													<span></span>
													<div class="card-product__value">Roto</div>
												</li>
											</ul>
										</div>
										<div class="card-product__bottom">
											<div class="card-product__prices">
												<div class="card-product__old-price">от 23 934 р</div>
												<div class="card-product__sale">-25%</div>
												<div class="card-product__price">от 15 557 р</div>
											</div>
											<a href="./" data-popup="#call" class="btn">
												<span>Заказать окно</span>
											</a>
										</div>
									</div>
								</div>
							</div>
							<div class="nav-bottom">
								<button type="button" class="btn-load">
									<span>Загрузить еще</span>
								</button>
								<div class="pagination">
									<span class="pagination__item_nav pagination__item_nav-prev" href="./">
										<img src="img/icon/arrow1.svg" alt="">
										<div class="pagination__item_nav-text">
											Назад
										</div>
									</span>
									<div class="pagination__center">
										<div>
											<a class="pagination__item pagination__item_active" href="./">1</a>
										</div>
										<div>
											<a class="pagination__item" href="./">2</a>
										</div>
										<div>
											<a class="pagination__item pagination__item_ellipsis" href="./">...</a>
										</div>
										<div>
											<a class="pagination__item" href="./">14</a>
										</div>
										<div>
											<a class="pagination__item" href="./">15</a>
										</div>
									</div>
									<a class="pagination__item_nav pagination__item_nav-next" href="./">
										<div class="pagination__item_nav-text">
											Вперед
										</div>
										<img src="img/icon/arrow1.svg" alt="">
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="block-calculator">
				<div class="container2">
					<div class="heading-complex">
						<h2 class="title2">
							Калькулятор пластиковых окон
						</h2>
						<p>
							Для быстрого расчета стоимости используйте наш онлайн-калькулятор. Он учитывает цену
							материалов, особенности конструкции и виды работ, позволяя определить предварительный бюджет
							покупки пластикового окна
						</p>
					</div>
					<form action="#" class="block-calculator__content">
						<div class="top-calculator">
							<div class="top-calculator__left">
								<select name="form[]" class="select">
									<option value="1" data-window="1" data-image="img/products/image8.webp" selected>1
										створка</option>
									<option value="2" data-window="2" data-image="img/products/image1.webp">2 створки
									</option>
									<option value="3" data-window="3" data-image="img/products/image2.webp">3 створки
									</option>
									<option value="4" data-window="4" data-image="img/products/image3.webp">Дверь
									</option>
								</select>
								<div class="options">
									<div class="options__item">
										<input data-window="1" hidden id="o_1" class="options__input" checked
											type="radio" value="1" name="option">
										<label for="o_1" class="options__label">
											<span class="options__descr">
												<span class="options__image">
													<img src="img/products/image8.webp" alt="">
												</span>
												<span class="options__text">1 створка</span>
											</span>
										</label>
									</div>
									<div class="options__item">
										<input data-window="2" hidden id="o_2" class="options__input" type="radio"
											value="2" name="option">
										<label for="o_2" class="options__label">
											<span class="options__descr">
												<span class="options__image">
													<img src="img/products/image1.webp" alt="">
												</span>
												<span class="options__text">2 створка</span>
											</span>
										</label>
									</div>
									<div class="options__item">
										<input data-window="3" hidden id="o_3" class="options__input" type="radio"
											value="3" name="option">
										<label for="o_3" class="options__label">
											<span class="options__descr">
												<span class="options__image">
													<img src="img/products/image2.webp" alt="">
												</span>
												<span class="options__text">3 створка</span>
											</span>
										</label>
									</div>
									<div class="options__item">
										<input data-window="4" hidden id="o_4" class="options__input" type="radio"
											value="4" name="option">
										<label for="o_4" class="options__label">
											<span class="options__descr">
												<span class="options__image">
													<img src="img/products/image3.webp" alt="">
												</span>
												<span class="options__text">Дверь</span>
											</span>
										</label>
									</div>
								</div>
								<div class="top-calculator-descr">
									<div class="top-calculator-status">
										<div class="top-calculator-status__item">
											<div style="background-color: #efe4e1;" class="top-calculator-status__line">
												<span style="width: 75%; background-color:#ee6c40;"></span>
											</div>
											<div class="top-calculator-status__icon">
												<img loading="lazy" src="img/icon/thermometer.svg" alt="">
											</div>
										</div>
										<div class="top-calculator-status__item">
											<div style="background-color: #fdf5de;" class="top-calculator-status__line">
												<span style="width: 55%; background-color:#eec040;"></span>
											</div>
											<div class="top-calculator-status__icon">
												<img loading="lazy" src="img/icon/sun.svg" alt="">
											</div>
										</div>
										<div class="top-calculator-status__item">
											<div style="background-color: #d8f6d3;" class="top-calculator-status__line">
												<span style="width: 85%; background-color:#42c42e;"></span>
											</div>
											<div class="top-calculator-status__icon">
												<img loading="lazy" src="img/icon/sound.svg" alt="">
											</div>
										</div>
									</div>
									<div class="top-calculator-descr__images">
										<div data-window="1" class="top-calculator-descr__image _active">
											<img loading="lazy" src="img/products/image8.webp" alt="">
										</div>
										<div data-window="2" class="top-calculator-descr__image">
											<img loading="lazy" src="img/products/image1.webp" alt="">
										</div>
										<div data-window="3" class="top-calculator-descr__image">
											<img loading="lazy" src="img/products/image2.webp" alt="">
										</div>
										<div data-window="4" class="top-calculator-descr__image">
											<img loading="lazy" src="img/products/image3.webp" alt="">
										</div>
									</div>
									<div class="top-calculator-descr__ranges">
										<div class="top-calculator-descr__range range-vert"></div>
										<div class="top-calculator-descr__range range-horiz"></div>
									</div>
								</div>
							</div>
							<div class="top-calculator__right">
								<div class="top-calculator__column">
									<div class="form__inputs">
										<label for="width1">Ширина, мм:</label>
										<div class="form__input">
											<input id="width1" autocomplete="off" type="text" name="form[]" value="860"
												placeholder="Ширина, мм:">
										</div>
									</div>
									<div class="form__inputs">
										<label for="height1">Высота, мм:</label>
										<div class="form__input">
											<input id="height1" autocomplete="off" type="text" name="form[]"
												value="1200" placeholder="Высота, мм:">
										</div>
									</div>
								</div>
								<div class="top-calculator__column">
									<div class="form__inputs">
										<label for="profile1">Профиль:</label>
										<select id="profile1" name="select1" class="select">
											<option value="1">KBE</option>
											<option value="2">KBE №2</option>
											<option value="3">KBE №3</option>
										</select>
									</div>
									<div class="form__inputs">
										<label for="type-profile1">Тип профиля:</label>
										<select id="type-profile1" name="select2" class="select">
											<option value="1">Gut</option>
											<option value="2">Gut №2</option>
											<option value="3">Gut №3</option>
										</select>
									</div>
								</div>
								<div class="top-calculator__column">
									<div class="form__inputs">
										<label for="laminacia1">Ламинация:</label>
										<select id="laminacia1" name="select3" class="select">
											<option value="1">Нет</option>
											<option value="2">Да</option>
										</select>
									</div>
									<div class="form__inputs">
										<label for="pokraska1">Покраска:</label>
										<select id="pokraska1" name="select4" class="select" disabled>
											<option value="1">Нет</option>
											<option value="2">Да</option>
										</select>
									</div>
								</div>
								<div class="top-calculator__column">
									<div class="form__inputs">
										<label for="steklopaket1">Стеклопакет:</label>
										<select id="steklopaket1" name="select5" class="select">
											<option value="1">Однокамерный</option>
											<option value="2">Однокамерный №2</option>
										</select>
										<div class="checkboxes">
											<div class="checkbox">
												<input id="c_1" class="checkbox__input" type="checkbox" value="1"
													name="form[1]">
												<label for="c_1" class="checkbox__label">
													<span class="checkbox__icon">
														<img src="img/icon/check2.svg" alt="">
													</span>
													<span class="checkbox__text">
														Москитная сетка
														<span class="color">- В подарок</span>
													</span>
												</label>
											</div>
											<div class="checkbox">
												<input id="c_2" class="checkbox__input" type="checkbox" value="2"
													name="form[1]">
												<label for="c_2" class="checkbox__label">
													<span class="checkbox__icon">
														<img src="img/icon/check2.svg" alt="">
													</span>
													<span class="checkbox__text">
														Доставка
													</span>
												</label>
											</div>
											<div class="checkbox">
												<input id="c_3" class="checkbox__input" type="checkbox" value="3"
													name="form[1]">
												<label for="c_3" class="checkbox__label">
													<span class="checkbox__icon">
														<img src="img/icon/check2.svg" alt="">
													</span>
													<span class="checkbox__text">
														Подоконник
													</span>
												</label>
											</div>
										</div>
									</div>
									<div class="form__inputs">
										<label for="typysteklopaket1">Тип стеклопакета:</label>
										<select id="typysteklopaket1" name="select6" class="select">
											<option value="1">Стандартный</option>
											<option value="2">Стандартный №2</option>
										</select>
										<div class="checkboxes">
											<div class="checkbox">
												<input id="c_4" class="checkbox__input" type="checkbox" value="4"
													name="form[2]">
												<label for="c_4" class="checkbox__label">
													<span class="checkbox__icon">
														<img src="img/icon/check2.svg" alt="">
													</span>
													<span class="checkbox__text">
														Отлив
													</span>
												</label>
											</div>
											<div class="checkbox">
												<input id="c_5" class="checkbox__input" type="checkbox" value="5"
													name="form[2]">
												<label for="c_5" class="checkbox__label">
													<span class="checkbox__icon">
														<img src="img/icon/check2.svg" alt="">
													</span>
													<span class="checkbox__text">
														Откосы
													</span>
												</label>
											</div>
											<div class="checkbox">
												<input id="c_6" class="checkbox__input" type="checkbox" value="6"
													name="form[2]">
												<label for="c_6" class="checkbox__label">
													<span class="checkbox__icon">
														<img src="img/icon/check2.svg" alt="">
													</span>
													<span class="checkbox__text">
														Установка
													</span>
												</label>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="bottom-calculator">
							<div class="bottom-calculator__item">
								<div class="bottom-calculator__left">
									<div class="bottom-calculator__column">
										<div class="bottom-calculator__title">Опции:</div>
										<span>181 р</span>
									</div>
									<div class="bottom-calculator__column">
										<div class="bottom-calculator__title">Монтаж:</div>
										<span>0 р</span>
									</div>
									<div class="bottom-calculator__column">
										<div class="bottom-calculator__title">Доставка:</div>
										<span>0 р</span>
									</div>
								</div>
								<div class="bottom-calculator__total">
									<div class="bottom-calculator__title">Изделие:</div>
									<span id="summ">5 219 р</span>
								</div>
								<button type="button" class="btn">
									<span>Получить расчет</span>
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>

			<div class="block-forms block-forms2 block1">
				<div class="container">
					<div class="block-forms__content">
						<img src="img/bg2.webp" alt="" class="block-forms__bg">
						<img src="img/icon/logo2.svg" alt="" class="block-forms__logo">
						<div class="block-forms__body container2">
							<div class="heading-complex">
								<h2 class="title2 is-visible">
									Запишитесь на бесплатный замер
								</h2>
								<p>
									Мастер приедет в удобное для вас время, сделает необходимые замеры и рассчитает
									точную стоимость
								</p>
							</div>
							<form action="#" class="form">
								<div class="form__inputs">
									<div class="form__input">
										<img loading="lazy" src="img/icon/user.svg" alt="" class="form__icon">
										<input autocomplete="off" type="text" name="form[]" placeholder="Ваше имя">
									</div>
									<div class="form__input">
										<img loading="lazy" src="img/icon/phone.svg" alt="" class="form__icon">
										<input data-required type="text" autocomplete="off" name="form[]"
											placeholder="" class="telephone">
										<div class="form__placeholder"><span>+7</span> (___) ___ - __ - __</div>
									</div>
								</div>
								<button type="submit" class="btn btn-orange">
									<span>Заказать <br> бесплатный замер</span>
								</button>
							</form>
						</div>
						<img src="img/image2.webp" alt="" class="block-forms__pic">
					</div>
				</div>
			</div>

			<div class="block-compare block1">
				<div class="container">
					<div class="block-compare__content">
						<div class="block-compare__body container2">
							<div class="block-compare__left">
								<div class="block-compare__image">
									<h2 class="title2">Сравнение<br> профилей</h2>
								</div>
								<div class="block-compare__name">
									<div class="info">
										<button type="button" class="info__button">
											<img loading="lazy" src="img/icon/info.svg" alt="">
										</button>
										<div class="info__dropdown">
											<p>
												Рассрочка предоставляется на суммуот 15 000 рублей до 1 000 000 рублей.
												Какой бы ни была сумма, вы ничего не переплачиваете
											</p>
										</div>
									</div>
									<span>Профиль</span>
								</div>
								<div class="block-compare__name">
									<div class="info">
										<button type="button" class="info__button">
											<img loading="lazy" src="img/icon/info.svg" alt="">
										</button>
										<div class="info__dropdown">
											<p>
												Рассрочка предоставляется на суммуот 15 000 рублей до 1 000 000 рублей.
												Какой бы ни была сумма, вы ничего не переплачиваете
											</p>
										</div>
									</div>
									<span>Толщина</span>
								</div>
								<div class="block-compare__name">
									<div class="info">
										<button type="button" class="info__button">
											<img loading="lazy" src="img/icon/info.svg" alt="">
										</button>
										<div class="info__dropdown">
											<p>
												Рассрочка предоставляется на суммуот 15 000 рублей до 1 000 000 рублей.
												Какой бы ни была сумма, вы ничего не переплачиваете
											</p>
										</div>
									</div>
									<span>Количество камер</span>
								</div>
								<div class="block-compare__name">
									<div class="info">
										<button type="button" class="info__button">
											<img loading="lazy" src="img/icon/info.svg" alt="">
										</button>
										<div class="info__dropdown">
											<p>
												Рассрочка предоставляется на суммуот 15 000 рублей до 1 000 000 рублей.
												Какой бы ни была сумма, вы ничего не переплачиваете
											</p>
										</div>
									</div>
									<span>Толщина стеклопакета</span>
								</div>
								<div class="block-compare__name">
									<div class="info">
										<button type="button" class="info__button">
											<img loading="lazy" src="img/icon/info.svg" alt="">
										</button>
										<div class="info__dropdown">
											<p>
												Рассрочка предоставляется на суммуот 15 000 рублей до 1 000 000 рублей.
												Какой бы ни была сумма, вы ничего не переплачиваете
											</p>
										</div>
									</div>
									<span>Противовзломный штапик</span>
								</div>
								<div class="block-compare__name">
									<div class="info">
										<button type="button" class="info__button">
											<img loading="lazy" src="img/icon/info.svg" alt="">
										</button>
										<div class="info__dropdown">
											<p>
												Рассрочка предоставляется на суммуот 15 000 рублей до 1 000 000 рублей.
												Какой бы ни была сумма, вы ничего не переплачиваете
											</p>
										</div>
									</div>
									<span>Ламинация</span>
								</div>
								<div class="block-compare__name">
									<div class="info">
										<button type="button" class="info__button">
											<img loading="lazy" src="img/icon/info.svg" alt="">
										</button>
										<div class="info__dropdown">
											<p>
												Рассрочка предоставляется на суммуот 15 000 рублей до 1 000 000 рублей.
												Какой бы ни была сумма, вы ничего не переплачиваете
											</p>
										</div>
									</div>
									<span>Покраска</span>
								</div>
								<div class="block-compare__name">
									<div class="info">
										<button type="button" class="info__button">
											<img loading="lazy" src="img/icon/info.svg" alt="">
										</button>
										<div class="info__dropdown">
											<p>
												Рассрочка предоставляется на суммуот 15 000 рублей до 1 000 000 рублей.
												Какой бы ни была сумма, вы ничего не переплачиваете
											</p>
										</div>
									</div>
									<span>Возможность круглых форм</span>
								</div>
								<div class="block-compare__name">
									<div class="info">
										<button type="button" class="info__button">
											<img loading="lazy" src="img/icon/info.svg" alt="">
										</button>
										<div class="info__dropdown">
											<p>
												Рассрочка предоставляется на суммуот 15 000 рублей до 1 000 000 рублей.
												Какой бы ни была сумма, вы ничего не переплачиваете
											</p>
										</div>
									</div>
									<span>Стоимость, м²</span>
								</div>
							</div>
							<div class="block-compare__right">
								<a href="./" class="block-compare__table">
									<div class="block-compare__image">
										<img loading="lazy" src="img/products/image4.webp" alt="">
									</div>
									<div class="block-compare__name">
										Rehau
										<div data-rating data-rating-size="5" data-rating-value="5" class="rating">
										</div>
									</div>
									<div data-text="76 мм" class="block-compare__name">
										76 мм
									</div>
									<div data-text="6" class="block-compare__name">
										6
									</div>
									<div data-text="42-49 мм" class="block-compare__name">
										42-49 мм
									</div>
									<div data-text="Да" class="block-compare__name">
										Да
									</div>
									<div data-text="Да" class="block-compare__name">
										Да
									</div>
									<div data-text="Да" class="block-compare__name">
										Да
									</div>
									<div data-text="Да" class="block-compare__name">
										Да
									</div>
									<div class="block-compare__name price">
										от 11 259 р
									</div>
								</a>
								<a href="./" class="block-compare__table">
									<div class="block-compare__image">
										<img loading="lazy" src="img/products/image5.webp" alt="">
									</div>
									<div class="block-compare__name">
										Montblank
										<div data-rating data-rating-size="5" data-rating-value="4" class="rating">
										</div>
									</div>
									<div data-text="71 мм" class="block-compare__name">
										71 мм
									</div>
									<div data-text="5" class="block-compare__name">
										5
									</div>
									<div data-text="40-47 мм" class="block-compare__name">
										40-47 мм
									</div>
									<div data-text="Нет" class="block-compare__name">
										Нет
									</div>
									<div data-text="Да" class="block-compare__name">
										Да
									</div>
									<div data-text="Да" class="block-compare__name">
										Да
									</div>
									<div data-text="Да" class="block-compare__name">
										Да
									</div>
									<div class="block-compare__name price">
										от 10 190 р
									</div>
								</a>
								<a href="./" class="block-compare__table">
									<div class="block-compare__image">
										<img loading="lazy" src="img/products/image6.webp" alt="">
									</div>
									<div class="block-compare__name">
										Novotex
										<div data-rating data-rating-size="5" data-rating-value="4" class="rating">
										</div>
									</div>
									<div data-text="71 мм" class="block-compare__name">
										71 мм
									</div>
									<div data-text="5" class="block-compare__name">
										5
									</div>
									<div data-text="40 мм" class="block-compare__name">
										40 мм
									</div>
									<div data-text="Да" class="block-compare__name">
										Да
									</div>
									<div data-text="Да" class="block-compare__name">
										Да
									</div>
									<div data-text="Да" class="block-compare__name">
										Да
									</div>
									<div data-text="Да" class="block-compare__name">
										Да
									</div>
									<div class="block-compare__name price">
										от 9 322 р
									</div>
								</a>
								<a href="./" class="block-compare__table">
									<div class="block-compare__image">
										<img loading="lazy" src="img/products/image7.webp" alt="">
									</div>
									<div class="block-compare__name">
										KBE
										<div data-rating data-rating-size="5" data-rating-value="4" class="rating">
										</div>
									</div>
									<div data-text="60 мм" class="block-compare__name">
										60 мм
									</div>
									<div data-text="4" class="block-compare__name">
										4
									</div>
									<div data-text="32 мм" class="block-compare__name">
										32 мм
									</div>
									<div data-text="Нет" class="block-compare__name">
										Нет
									</div>
									<div data-text="Да" class="block-compare__name">
										Да
									</div>
									<div data-text="Да" class="block-compare__name">
										Да
									</div>
									<div data-text="Нет" class="block-compare__name">
										Нет
									</div>
									<div class="block-compare__name price">
										от 9 901 р
									</div>
								</a>
							</div>
						</div>
						<div class="bottom-block-compare">
							<img loading="lazy" src="img/bg2.webp" alt="" class="bottom-block-compare__bg">
							<div class="bottom-block-compare__item container2">
								<p>
									Вам необязательно разбираться во всех свойствах ПВХ-продукции — мы знаем
									об остеклении всё. Наши менеджеры самостоятельно, бесплатно выполнят все замеры
								</p>
								<a href="./" class="btn btn-orange">
									<span>бесплатная консультация</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="block-section block-section2 block1">
				<div class="container2">
					<div class="heading-complex">
						<h2 class="title2">
							Как сделать заказ
						</h2>
					</div>
					<div class="block-section__body">
						<div class="block-section__column">
							<div class="block-section__top">
								<div class="block-section__image">
									<img loading="lazy" src="img/image17.webp" alt="" class="block-section__pic">
									<div class="block-section__icon">
										1
									</div>
								</div>
								<div class="block-section__title">Оставляйте заявку
									на бесплатный замер</div>
							</div>
							<p>
								Для доставки
								используются специально оборудованные
								автомобили
							</p>
						</div>
						<div class="block-section__column">
							<div class="block-section__top">
								<div class="block-section__image">
									<img loading="lazy" src="img/image18.webp" alt="" class="block-section__pic">
									<div class="block-section__icon">
										2
									</div>
								</div>
								<div class="block-section__title">Расчет стоимости</div>
							</div>
							<p>
								Для доставки
								используются специально оборудованные
								автомобили
							</p>
						</div>
						<div class="block-section__column">
							<div class="block-section__top">
								<div class="block-section__image">
									<img loading="lazy" src="img/image19.webp" alt="" class="block-section__pic">
									<div class="block-section__icon">
										3
									</div>
								</div>
								<div class="block-section__title">Изготовление/подбор окна или двери</div>
							</div>
							<p>
								Для доставки
								используются специально оборудованные
								автомобили
							</p>
						</div>
						<div class="block-section__column">
							<div class="block-section__top">
								<div class="block-section__image">
									<img loading="lazy" src="img/image20.webp" alt="" class="block-section__pic">
									<div class="block-section__icon">
										4
									</div>
								</div>
								<div class="block-section__title">Профессиональная установка</div>
							</div>
							<p>
								Для доставки
								используются специально оборудованные
								автомобили
							</p>
						</div>
						<div class="block-section__column">
							<div class="block-section__top">
								<div class="block-section__image">
									<img loading="lazy" src="img/image21.webp" alt="" class="block-section__pic">
									<div class="block-section__icon">
										5
									</div>
								</div>
								<div class="block-section__title">Наслаждаетесь качеством</div>
							</div>
							<p>
								Для доставки
								используются специально оборудованные
								автомобили
							</p>
						</div>
					</div>
				</div>
			</div>

			<div class="block-section-slider block1">
				<div class="container">
					<div class="block-section-slider__content">
						<div class="block-section-slider__body">
							<div class="block-section-slider__left">
								<div class="heading-complex">
									<h2 class="title2">
										Вся продукция сертифицирована
									</h2>
								</div>
								<div class="block-section-slider__arrows">
									<div class="block-section-slider__arrow-prev slider1-arrow-prev arrow-prev">
										<img src="img/icon/arrow1.svg" alt="">
									</div>
									<div class="block-section-slider__arrow-next slider1-arrow-next arrow-next">
										<img src="img/icon/arrow1.svg" alt="">
									</div>
								</div>
							</div>
							<div class="block-section-slider__right">
								<div class="block-section-slider__slider slider1 swiper">
									<div class="block-section-slider__wrapper swiper-wrapper">
										<a href="img/certificates/image1.webp" data-fancybox="gallery2"
											class="block-section-slider__slide swiper-slide">
											<div class="zoom"></div>
											<img loading="lazy" src="img/certificates/image1.webp" alt="">
										</a>
										<a href="img/certificates/image2.webp" data-fancybox="gallery2"
											class="block-section-slider__slide swiper-slide">
											<div class="zoom"></div>
											<img loading="lazy" src="img/certificates/image2.webp" alt="">
										</a>
										<a href="img/certificates/image3.webp" data-fancybox="gallery2"
											class="block-section-slider__slide swiper-slide">
											<div class="zoom"></div>
											<img loading="lazy" src="img/certificates/image3.webp" alt="">
										</a>
										<a href="img/certificates/image4.webp" data-fancybox="gallery2"
											class="block-section-slider__slide swiper-slide">
											<div class="zoom"></div>
											<img loading="lazy" src="img/certificates/image4.webp" alt="">
										</a>
										<a href="img/certificates/image5.webp" data-fancybox="gallery2"
											class="block-section-slider__slide swiper-slide">
											<div class="zoom"></div>
											<img loading="lazy" src="img/certificates/image5.webp" alt="">
										</a>
										<a href="img/certificates/image6.webp" data-fancybox="gallery2"
											class="block-section-slider__slide swiper-slide">
											<div class="zoom"></div>
											<img loading="lazy" src="img/certificates/image6.webp" alt="">
										</a>
										<a href="img/certificates/image6.webp" data-fancybox="gallery2"
											class="block-section-slider__slide swiper-slide">
											<div class="zoom"></div>
											<img loading="lazy" src="img/certificates/image6.webp" alt="">
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="block-gallery block1">
				<div class="container">
					<div class="heading-complex">
						<h2 class="title2">
							Выполнили более 10 000 заказов и 2 000 проектов
						</h2>
						<a data-da=".block-gallery__content, 992, last" href="./" class="link"><span>Все
								работы</span></a>
					</div>
					<div class="block-gallery__content">
						<div class="block-gallery__body">
							<a href="img/gallery/image1.webp" data-fancybox="gallery1" class="block-gallery__image">
								<div class="zoom"></div>
								<img loading="lazy" src="img/gallery/image1.webp" alt="" class="block-gallery__pic">
							</a>
							<a href="img/gallery/image2.webp" data-fancybox="gallery1" class="block-gallery__image">
								<div class="zoom"></div>
								<img loading="lazy" src="img/gallery/image2.webp" alt="" class="block-gallery__pic">
							</a>
							<a href="img/gallery/image3.webp" data-fancybox="gallery1" class="block-gallery__image">
								<div class="zoom"></div>
								<img loading="lazy" src="img/gallery/image3.webp" alt="" class="block-gallery__pic">
							</a>
							<a href="img/gallery/image4.webp" data-fancybox="gallery1" class="block-gallery__image">
								<div class="zoom"></div>
								<img loading="lazy" src="img/gallery/image4.webp" alt="" class="block-gallery__pic">
							</a>
							<a href="img/gallery/image5.webp" data-fancybox="gallery1" class="block-gallery__image">
								<div class="zoom"></div>
								<img loading="lazy" src="img/gallery/image5.webp" alt="" class="block-gallery__pic">
							</a>
							<a href="img/gallery/image6.webp" data-fancybox="gallery1" class="block-gallery__image">
								<div class="zoom"></div>
								<img loading="lazy" src="img/gallery/image6.webp" alt="" class="block-gallery__pic">
							</a>
							<a href="img/gallery/image7.webp" data-fancybox="gallery1" class="block-gallery__image">
								<div class="zoom"></div>
								<img loading="lazy" src="img/gallery/image7.webp" alt="" class="block-gallery__pic">
							</a>
							<a href="img/gallery/image8.webp" data-fancybox="gallery1" class="block-gallery__image">
								<div class="zoom"></div>
								<img loading="lazy" src="img/gallery/image8.webp" alt="" class="block-gallery__pic">
							</a>
						</div>
					</div>
				</div>
			</div>

			<div class="block-section3 block1">
				<div class="container2">
					<div class="heading-complex">
						<h2 class="title2">
							Наши преимущества
						</h2>
					</div>
					<div class="block-section3__body">
						<div class="block-section3__column">
							<div class="block-section3__image">
								<img src="img/icon/icon5.svg" alt="">
							</div>
							<div class="block-section3__item">
								<div class="block-section3__title">Прочность</div>
								<p>
									Наша компания осуществляет гарантийное обслуживание систем остекления
								</p>
							</div>
						</div>
						<div class="block-section3__column">
							<div class="block-section3__image">
								<img src="img/icon/icon6.svg" alt="">
							</div>
							<div class="block-section3__item">
								<div class="block-section3__title">Теплоизоляция</div>
								<p>
									Наша компания осуществляет гарантийное обслуживание систем остекления
								</p>
							</div>
						</div>
						<div class="block-section3__column">
							<div class="block-section3__image">
								<img src="img/icon/icon7.svg" alt="">
							</div>
							<div class="block-section3__item">
								<div class="block-section3__title">Шумоизоляция</div>
								<p>
									Наша компания осуществляет гарантийное обслуживание систем остекления
								</p>
							</div>
						</div>
						<div class="block-section3__column">
							<div class="block-section3__image">
								<img src="img/icon/icon8.svg" alt="">
							</div>
							<div class="block-section3__item">
								<div class="block-section3__title">Энергоэфективность</div>
								<p>
									Наша компания осуществляет гарантийное обслуживание систем остекления
								</p>
							</div>
						</div>
						<div class="block-section3__column">
							<div class="block-section3__image">
								<img src="img/icon/icon9.svg" alt="">
							</div>
							<div class="block-section3__item">
								<div class="block-section3__title">Безопасность</div>
								<p>
									Наша компания осуществляет гарантийное обслуживание систем остекления
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div data-watch="navigator" class="block-before-after block1">
				<div class="container2">
					<div class="heading-complex">
						<h2 class="title2">Примеры работ до/после</h2>
					</div>
					<div class="block-before-after__content">
						<div class="block-before-after__slider swiper">
							<div class="block-before-after__wrapper swiper-wrapper">
								<div class="block-before-after__slide swiper-slide">
									<div data-ba class="before-after">
										<div data-ba-before class="before-after__item">
											<img loading="lazy" src="img/image9.webp" alt="">
										</div>
										<div data-ba-after class="before-after__item">
											<img loading="lazy" src="img/image10.webp" alt="">
										</div>
										<div data-ba-arrow class="before-after__arrows">
											<img loading="lazy" src="img/icon/arrows.svg" alt="">
										</div>
									</div>
								</div>
								<div class="block-before-after__slide swiper-slide">
									<div data-ba class="before-after">
										<div data-ba-before class="before-after__item">
											<img loading="lazy" src="img/image11.webp" alt="">
										</div>
										<div data-ba-after class="before-after__item">
											<img loading="lazy" src="img/image12.webp" alt="">
										</div>
										<div data-ba-arrow class="before-after__arrows">
											<img loading="lazy" src="img/icon/arrows.svg" alt="">
										</div>
									</div>
								</div>
								<div class="block-before-after__slide swiper-slide">
									<div data-ba class="before-after">
										<div data-ba-before class="before-after__item">
											<img loading="lazy" src="img/image9.webp" alt="">
										</div>
										<div data-ba-after class="before-after__item">
											<img loading="lazy" src="img/image10.webp" alt="">
										</div>
										<div data-ba-arrow class="before-after__arrows">
											<img loading="lazy" src="img/icon/arrows.svg" alt="">
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="block-before-after__arrow-prev arrow-prev">
							<img src="img/icon/arrow1.svg" alt="">
						</div>
						<div class="block-before-after__arrow-next arrow-next">
							<img src="img/icon/arrow1.svg" alt="">
						</div>
					</div>
				</div>
			</div>

			<div class="block-prices block1">
				<div class="container">
					<div class="top-block-prices">
						<div class="container2">
							<div class="top-block-prices__body">
								<div class="top-block-prices__descr">
									<h2 class="title2">Отделка балконов и утепление</h2>
									<div class="top-block-prices__text">
										<p>
											Мы производим не только остекление, но и отделку с утеплением или без. Весь
											комплекс работ выполняется нашими мастерами-славянами «под ключ». При
											заключении
											комплексного договора на остекление и отделку действует специальная скидка.
											Позвоните нам и консультанты расскажут условия акции.
										</p>
										<p>
											Для того чтобы получить ещё одну комнату в квартире, необязательно делать
											перепланировку или приобретать жильё большей площади. Вы можете превратить
											даже
											самый маленький балкон в личный кабинет, игровую или лаундж-зону.
										</p>
										<p>
											И мы поможем вам в этом — услышим ваши пожелания, разработаем дизайн-проект,
											установим современные окна, выполним отделку или небольшой ремонт
											и произведём
											мебель.
										</p>
									</div>
								</div>
								<div class="top-block-prices__image">
									<img loading="lazy" src="img/image22.webp" alt="">
								</div>
							</div>
						</div>
					</div>
					<div class="bottom-block-prices">
						<img src="img/icon/logo2.svg" alt="" class="bottom-block-prices__logo">
						<div class="container2">
							<!--Если нужно в одну колонку на всю ширину то к bottom-block-prices__body добавьте класс column1-->
							<div class="bottom-block-prices__body">
								<div class="bottom-block-prices__column">
									<div class="bottom-block-prices__title">Внутренняя отделка стен</div>
									<ul>
										<li>
											<div class="bottom-block-prices__name">Вагонка</div>
											<div class="bottom-block-prices__price">от 1 750 р / м²</div>
										</li>
										<li>
											<div class="bottom-block-prices__name">Пластиковые панели</div>
											<div class="bottom-block-prices__price">от 1 880 р / м²</div>
										</li>
										<li>
											<div class="bottom-block-prices__name">Гипсокартон</div>
											<div class="bottom-block-prices__price">от 1 880 р / м²</div>
										</li>
									</ul>
								</div>
								<div class="bottom-block-prices__column">
									<div class="bottom-block-prices__title">Утепление стен, пола, потолка</div>
									<ul>
										<li>
											<div class="bottom-block-prices__name">Пенофол</div>
											<div class="bottom-block-prices__price">от 70 р / м²</div>
										</li>
										<li>
											<div class="bottom-block-prices__name">Пенофлекс</div>
											<div class="bottom-block-prices__price">от 220 р / м²</div>
										</li>
										<li>
											<div class="bottom-block-prices__name">Пенофол + Пенофлекс</div>
											<div class="bottom-block-prices__price">от 290 р / м²</div>
										</li>
										<li>
											<div class="bottom-block-prices__name">Изолон</div>
											<div class="bottom-block-prices__price">от 350 р / м²</div>
										</li>
									</ul>
								</div>
								<div class="bottom-block-prices__column">
									<div class="bottom-block-prices__title">Внешняя отделка</div>
									<ul>
										<li>
											<div class="bottom-block-prices__name">Виниловый сайдинг</div>
											<div class="bottom-block-prices__price">от 1 920 р / м²</div>
										</li>
									</ul>
								</div>
								<div class="bottom-block-prices__column">
									<div class="bottom-block-prices__title">Монтаж крыши</div>
									<ul>
										<li>
											<div class="bottom-block-prices__name">Ондулин</div>
											<div class="bottom-block-prices__price">от 3 150 р / м²</div>
										</li>
										<li>
											<div class="bottom-block-prices__name">Металлочерепица</div>
											<div class="bottom-block-prices__price">от 3 150 р / м²</div>
										</li>
									</ul>
								</div>
								<div class="bottom-block-prices__column">
									<div class="bottom-block-prices__title">Дополнительные работы</div>
									<ul>
										<li>
											<div class="bottom-block-prices__name">Прокладка электрики</div>
											<div class="bottom-block-prices__price">от 5 300 р</div>
										</li>
										<li>
											<div class="bottom-block-prices__name"> Пол с подогревом</div>
											<div class="bottom-block-prices__price">от 2 600 р / м²</div>
										</li>
										<li>
											<div class="bottom-block-prices__name">Встроенный шкаф</div>
											<div class="bottom-block-prices__price">от 12 500 р</div>
										</li>
										<li>
											<div class="bottom-block-prices__name">Тумба</div>
											<div class="bottom-block-prices__price">от 7 600 р</div>
										</li>
										<li>
											<div class="bottom-block-prices__name">Сушилка для вещей</div>
											<div class="bottom-block-prices__price">от 2 600 р</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div data-watch="navigator" class="block-reviews block1">
				<div class="container">
					<div class="block-reviews__content">
						<div class="heading-complex">
							<h2 class="title2">Отзывы наших клиентов</h2>
							<a href="./" class="link">Все отзывы</a>
						</div>
						<div class="container2">
							<div class="block-reviews__body">
								<div class="top-block-reviews">
									<div class="top-block-reviews__body">
										<div class="top-block-reviews__column">
											<div class="top-block-reviews__images">
												<div class="top-block-reviews__image">
													<img loading="lazy" src="img/image10.webp" alt="">
												</div>
												<div class="top-block-reviews__name">
													<span>Кирилл Б., Москва</span>
													<a href="./">
														<img loading="lazy" src="img/review1.webp" alt="">
													</a>
												</div>
											</div>
											<div class="top-block-reviews__item">
												<div class="top-block-reviews__title">
													Делают свою работу хорошо
												</div>
												<p>
													В одной фирме за 2 окна насчитали нам 66000 рублей. Это очень много
													для
													нас, решил позвонить в Окна Фактория. И не зря! Не расслышал, как
													зовут
													менеджера, но посоветовала профили от российского изготовителя с 3
													камерами. Ценник устроил, отдали за все с установкой и доставкой
													почти в
													два раза меньше. Ребята поставили за день. Спустя 1,5 месяца не
													дует,
													шума намного меньше стало, а света – как будто больше!
												</p>
											</div>
										</div>
										<div class="top-block-reviews__column">
											<div class="top-block-reviews__images">
												<div class="top-block-reviews__image">
													<img loading="lazy" src="img/image10.webp" alt="">
												</div>
												<div class="top-block-reviews__name">
													<span>Алина Р., Москва</span>
													<a href="./">
														<img loading="lazy" src="img/review2.webp" alt="">
													</a>
												</div>
											</div>
											<div class="top-block-reviews__item">
												<div class="top-block-reviews__title">
													Приехали ради 1 окна
												</div>
												<p>
													2 компании до «Окна Фактория» отказались ехать ради стеклопакета на
													кухню, даже на замер… А мне больше и не нужно было. По телефону
													разговаривала с Евгенией – вежливая и обходительная девушка,
													посоветовала вариант с высокой светопропускной способностью.
													Поставили ровно, само окошко нравится!
												</p>
											</div>
										</div>
									</div>
									<a href="./" class="link">Все отзывы</a>
								</div>
								<div class="bottom-block-reviews">
									<a href="./" class="bottom-block-reviews__column">
										<div class="bottom-block-reviews__rating">
											<div data-rating data-rating-size="5" data-rating-value="5.0"
												class="rating">
											</div>
											<div class="rating__value">5.0</div>
										</div>
										<img src="img/review1.webp" alt="">
										<div class="bottom-block-reviews__col">213 отзывов</div>
									</a>
									<span class="bottom-block-reviews__line"></span>
									<a href="./" class="bottom-block-reviews__column">
										<div class="bottom-block-reviews__rating">
											<div data-rating data-rating-size="5" data-rating-value="4.6"
												class="rating">
											</div>
											<div class="rating__value">4.6</div>
										</div>
										<img src="img/review2.webp" alt="">
										<div class="bottom-block-reviews__col">169 отзывов</div>
									</a>
									<span class="bottom-block-reviews__line"></span>
									<a href="./" class="bottom-block-reviews__column">
										<div class="bottom-block-reviews__rating">
											<div data-rating data-rating-size="5" data-rating-value="4.8"
												class="rating">
											</div>
											<div class="rating__value">4.8</div>
										</div>
										<img src="img/review3.webp" alt="">
										<div class="bottom-block-reviews__col">213 отзывов</div>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div data-watch="navigator" class="block-questions block1">
				<div class="container2">
					<div class="heading-complex">
						<h2 class="title2">
							Часто задаваемые вопросы
						</h2>
						<a href="./" class="link">Все вопросы и ответы</a>
					</div>
					<div class="block-questions__content">
						<div data-spollers class="spollers">
							<div class="spollers__items">
								<div class="spollers__item">
									<button type="button" data-spoller class="spollers__title">
										Как убедиться в качестве и безопасности окон ПВХ?
										<span class="spollers__icon">
											<span></span>
										</span>
									</button>
									<div class="spollers__body">
										<p>
											Рама изготавливается из металла и пластика. Стальной каркас отвечает за
											прочность, а пластик - за эстетичный вид.Внутри рамы установлен стеклопакет
											и нередко такие окна со стеклопакетом так и называют - пластиковые
											стеклопакеты.Дешевые металлопластиковые окна не имеют фурнитуры и не
											открываются. В открывающиеся конструкции по контуру запирания
											устанавливаются элементы фиксирующей фурнитуры и петли.
										</p>
									</div>
								</div>
								<div class="spollers__item">
									<button type="button" data-spoller class="spollers__title">
										Как установить самостоятельно?
										<span class="spollers__icon">
											<span></span>
										</span>
									</button>
									<div class="spollers__body">
										<p>
											Рама изготавливается из металла и пластика. Стальной каркас отвечает за
											прочность, а пластик - за эстетичный вид.Внутри рамы установлен стеклопакет
											и нередко такие окна со стеклопакетом так и называют - пластиковые
											стеклопакеты.Дешевые металлопластиковые окна не имеют фурнитуры и не
											открываются. В открывающиеся конструкции по контуру запирания
											устанавливаются элементы фиксирующей фурнитуры и петли.
										</p>
									</div>
								</div>
								<div class="spollers__item">
									<button type="button" data-spoller class="spollers__title">
										Какое пластиковое окно выбрать недорогоеи качественное?
										<span class="spollers__icon">
											<span></span>
										</span>
									</button>
									<div class="spollers__body">
										<p>
											Рама изготавливается из металла и пластика. Стальной каркас отвечает за
											прочность, а пластик - за эстетичный вид.Внутри рамы установлен стеклопакет
											и нередко такие окна со стеклопакетом так и называют - пластиковые
											стеклопакеты.Дешевые металлопластиковые окна не имеют фурнитуры и не
											открываются. В открывающиеся конструкции по контуру запирания
											устанавливаются элементы фиксирующей фурнитуры и петли.
										</p>
									</div>
								</div>
								<div class="spollers__item">
									<button type="button" data-spoller class="spollers__title">
										Сколько стоит пластиковое окно или дверьбез установки?
										<span class="spollers__icon">
											<span></span>
										</span>
									</button>
									<div class="spollers__body">
										<p>
											Рама изготавливается из металла и пластика. Стальной каркас отвечает за
											прочность, а пластик - за эстетичный вид.Внутри рамы установлен стеклопакет
											и нередко такие окна со стеклопакетом так и называют - пластиковые
											стеклопакеты.Дешевые металлопластиковые окна не имеют фурнитуры и не
											открываются. В открывающиеся конструкции по контуру запирания
											устанавливаются элементы фиксирующей фурнитуры и петли.
										</p>
									</div>
								</div>
							</div>
							<div class="spollers__items">
								<div class="spollers__item">
									<button type="button" data-spoller class="spollers__title">
										Сколько стоит окно и дверь с установкой под ключ?
										<span class="spollers__icon">
											<span></span>
										</span>
									</button>
									<div class="spollers__body">
										<p>
											Рама изготавливается из металла и пластика. Стальной каркас отвечает за
											прочность, а пластик - за эстетичный вид.Внутри рамы установлен стеклопакет
											и нередко такие окна со стеклопакетом так и называют - пластиковые
											стеклопакеты.Дешевые металлопластиковые окна не имеют фурнитуры и не
											открываются. В открывающиеся конструкции по контуру запирания
											устанавливаются элементы фиксирующей фурнитуры и петли.
										</p>
									</div>
								</div>
								<div class="spollers__item">
									<button type="button" data-spoller class="spollers__title">
										Из чего сделаны пластиковые окна и двери?
										<span class="spollers__icon">
											<span></span>
										</span>
									</button>
									<div class="spollers__body">
										<p>
											Рама изготавливается из металла и пластика. Стальной каркас отвечает за
											прочность, а пластик - за эстетичный вид.Внутри рамы установлен стеклопакет
											и нередко такие окна со стеклопакетом так и называют - пластиковые
											стеклопакеты.Дешевые металлопластиковые окна не имеют фурнитуры и не
											открываются. В открывающиеся конструкции по контуру запирания
											устанавливаются элементы фиксирующей фурнитуры и петли.
										</p>
									</div>
								</div>
								<div class="spollers__item">
									<button type="button" data-spoller class="spollers__title">
										Как быстро заменить проем?
										<span class="spollers__icon">
											<span></span>
										</span>
									</button>
									<div class="spollers__body">
										<p>
											Рама изготавливается из металла и пластика. Стальной каркас отвечает за
											прочность, а пластик - за эстетичный вид.Внутри рамы установлен стеклопакет
											и нередко такие окна со стеклопакетом так и называют - пластиковые
											стеклопакеты.Дешевые металлопластиковые окна не имеют фурнитуры и не
											открываются. В открывающиеся конструкции по контуру запирания
											устанавливаются элементы фиксирующей фурнитуры и петли.
										</p>
									</div>
								</div>
							</div>
						</div>
						<a href="./" class="link">Все вопросы и ответы</a>
					</div>
				</div>
			</div>

			<div class="block-forms block1">
				<div class="container">
					<div class="block-forms__content">
						<img src="img/bg2.webp" alt="" class="block-forms__bg">
						<div class="block-forms__body container2">
							<img src="img/icon/logo2.svg" alt="" class="block-forms__logo">
							<div class="heading-complex">
								<h2 class="title2 is-visible">
									Остались вопросы?
								</h2>
								<p>
									Напишите нам и наш менеджер ответит вам
									в первую свободную минуту
								</p>
							</div>
							<form action="#" class="form">
								<div class="form__inputs">
									<div class="form__input">
										<img loading="lazy" src="img/icon/user.svg" alt="" class="form__icon">
										<input data-required autocomplete="off" type="text" name="form[]"
											placeholder="Ваше имя">
									</div>
									<div class="form__input">
										<img loading="lazy" src="img/icon/mail.svg" alt="" class="form__icon">
										<input data-required="email" autocomplete="off" type="text" name="form[]"
											placeholder="Ваш email">
									</div>
									<div class="form__input">
										<img loading="lazy" src="img/icon/pen.svg" alt="" class="form__icon">
										<textarea placeholder="Ваш вопрос"></textarea>
									</div>
								</div>
								<div class="form__buttons">
									<div class="form__text">
										<img src="img/icon/check2.svg" alt="">
										<span>Нажимая на кнопку “Отправить отзыв” я даю согласие на обработку <a
												href="./">персональных
												данных</a></span>
									</div>
									<button type="submit" class="btn btn-orange">
										<span>Написать нам</span>
									</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>

			<div class="block-contacts block1">
				<div class="container">
					<div class="block-contacts__content">
						<div id="map1" class="block-contacts__map"></div>
						<div class="container2">
							<div class="block-contacts__body">
								<div class="block-contacts__item">
									<h2 class="title2">
										Контактная информация
									</h2>
									<ul>
										<li>
											<div class="block-contacts__value">Центральный офис в Москве</div>
											<div class="block-contacts__name">Офис</div>
										</li>
										<li>
											<a href="tel:84951288076" class="block-contacts__value">8 (495)
												128-80-76</a>
											<div class="block-contacts__name">Телефон</div>
										</li>
										<li>
											<a href="mailto:support@oknabobr.ru"
												class="block-contacts__value">support@oknabobr.ru</a>
											<div class="block-contacts__name">Email</div>
										</li>
										<li>
											<div class="socials">
												<a href="./">
													<img src="img/icon/telegram.svg" alt="">
												</a>
												<a href="./">
													<img src="img/icon/vk.svg" alt="">
												</a>
												<a href="./">
													<img src="img/icon/whatsapp.svg" alt="">
												</a>
											</div>
											<div class="block-contacts__name">Мы в соцсетях</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</main>
		{% include 'blocks/footer.njk' %}
	</div>
	<script src="https://api-maps.yandex.ru/2.1/?apikey=ваш API-ключ&amp;lang=ru_RU&amp;_v=20240623012845"></script>
	{% include 'blocks/popups.njk' %}
	{% include 'blocks/scripts.njk' %}
</body>

</html>