<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Акции</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main">

            <div class="heading-complex2">
                <div class="container">
                    <div class="heading-complex2__content">
                        <div class="container2">
                            <div class="heading-complex2__body">
                                <div class="breadcrumbs">
                                    <ul>
                                        <li>
                                            <a href="./">
                                                <img src="img/icon/home.svg" alt="">
                                            </a>
                                        </li>
                                        <li><span>Информация</span></li>
                                    </ul>
                                </div>
                                <div class="heading-complex">
                                    <h2 class="title1">Информация ↴ акции</h2>
                                    <p>
                                        Эта страница открыта в формате просмотра всех разделов сразу, <a
                                            href="./">нажмите</a>, чтобы
                                        отключить
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-info block1">
                <div class="container2">
                    <div class="block-info__content">
                        <div class="block-info__body">
                            <div class="block-info__column">
                                <div class="block-info__image">
                                    <img src="img/image23.webp" alt="">
                                </div>
                                <div class="block-info__item">
                                    <div class="block-info__title">
                                        Дополнительная скидка при 100% предоплате
                                    </div>
                                    <p>
                                        На окна ПВХ
                                    </p>
                                    <a href="./" data-popup="#call" class="btn">
                                        <span>Заказать по акции</span>
                                    </a>
                                </div>
                            </div>
                            <div class="block-info__column">
                                <div class="block-info__image">
                                    <img src="img/image24.webp" alt="">
                                </div>
                                <div class="block-info__item">
                                    <div class="block-info__title">
                                        Без первоначального взноса и переплаты
                                    </div>
                                    <p>
                                        Рассрочка на 6 месяцев, первый платеж через 30 дней
                                    </p>
                                    <a href="./" data-popup="#call" class="btn">
                                        <span>Заказать по акции</span>
                                    </a>
                                </div>
                            </div>
                            <div class="block-info__column">
                                <div class="block-info__image">
                                    <img src="img/image25.webp" alt="">
                                </div>
                                <div class="block-info__item">
                                    <div class="block-info__title">
                                        Эксклюзивные окна TRIFORM™
                                        со скидкой до 20%
                                    </div>
                                    <p>
                                        Натуральное дерево, тёплый пенополиуретан и алюминий в одной системе
                                    </p>
                                    <a href="./" data-popup="#call" class="btn">
                                        <span>Заказать по акции</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="nav-bottom">
                            <button type="button" class="btn-load">
                                <span>Загрузить еще</span>
                            </button>
                            <div class="pagination">
                                <span class="pagination__item_nav pagination__item_nav-prev" href="./">
                                    <img src="img/icon/arrow1.svg" alt="">
                                    <div class="pagination__item_nav-text">
                                        Назад
                                    </div>
                                </span>
                                <div class="pagination__center">
                                    <div>
                                        <a class="pagination__item pagination__item_active" href="./">1</a>
                                    </div>
                                    <div>
                                        <a class="pagination__item" href="./">2</a>
                                    </div>
                                    <div>
                                        <a class="pagination__item pagination__item_ellipsis" href="./">...</a>
                                    </div>
                                    <div>
                                        <a class="pagination__item" href="./">14</a>
                                    </div>
                                    <div>
                                        <a class="pagination__item" href="./">15</a>
                                    </div>
                                </div>
                                <a class="pagination__item_nav pagination__item_nav-next" href="./">
                                    <div class="pagination__item_nav-text">
                                        Вперед
                                    </div>
                                    <img src="img/icon/arrow1.svg" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="heading-complex2">
                <div class="container">
                    <div class="heading-complex2__content">
                        <div class="container2">
                            <div class="heading-complex2__body">
                                <div class="heading-complex">
                                    <h2 class="title1">Наши работы</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-works block1">
                <div class="container2">
                    <div class="block-works__content">
                        <div class="block-works__selects">
                            <select name="select1" data-placeholder="Бренды" class="select">
                                <option value="" disabled selected>Бренды</option>
                                <option value="1">Бренды №2</option>
                                <option value="2">Бренды №3</option>
                                <option value="3">Бренды №4</option>
                            </select>
                            <select name="select2" data-placeholder="Типы" class="select">
                                <option value="" disabled selected>Типы</option>
                                <option value="1">Типы №2</option>
                                <option value="2">Типы №3</option>
                                <option value="3">Типы №4</option>
                            </select>
                            <select name="select3" data-placeholder="Назначения" class="select">
                                <option value="" disabled selected>Назначения</option>
                                <option value="1">Назначения №2</option>
                                <option value="2">Назначения №3</option>
                                <option value="3">Назначения №4</option>
                            </select>
                            <select name="select4" data-placeholder="Стоимость" class="select">
                                <option value="" disabled selected>Стоимость</option>
                                <option value="1">Стоимость №2</option>
                                <option value="2">Стоимость №3</option>
                                <option value="3">Стоимость №4</option>
                            </select>
                        </div>
                        <div class="block-works__cards">
                            <div class="card-product">
                                <div class="card-product__before-after">
                                    <div data-ba class="before-after">
                                        <div data-ba-before class="before-after__item">
                                            <img loading="lazy" src="img/image9.webp" alt="">
                                        </div>
                                        <div data-ba-after class="before-after__item">
                                            <img loading="lazy" src="img/image10.webp" alt="">
                                        </div>
                                        <div data-ba-arrow class="before-after__arrows">
                                            <img loading="lazy" src="img/icon/arrows.svg" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="card-product__center">
                                    <div class="card-product__title">
                                        Эркерная лоджия
                                    </div>
                                    <div class="card-product__location">
                                        <img loading="lazy" src="img/icon/location.svg" alt="">
                                        <span>Люберцы, ул. Назаровская, 1</span>
                                    </div>
                                    <div class="card-product__lists">
                                        <div class="card-product__list">
                                            <div class="card-product__list-title">Подготовительные работы:</div>
                                            <ul>
                                                <li>
                                                    <span></span>
                                                    Демонтаж старых конструкций
                                                </li>
                                                <li>
                                                    <span></span>
                                                    Возведение основания из блоков
                                                </li>
                                                <li>
                                                    <span></span>
                                                    Обшивка боковых стен
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="card-product__list">
                                            <div class="card-product__list-title">Теплый профиль Rehau:</div>
                                            <ul>
                                                <li>
                                                    <span></span>
                                                    Профиль Rehau Blitz, 60 мм
                                                </li>
                                                <li>
                                                    <span></span>
                                                    ПВХ Энергосберегающий стеклопакет
                                                </li>
                                                <li>
                                                    <span></span>
                                                    Установлены козырек и отлив
                                                </li>
                                                <li>
                                                    <span></span>
                                                    Надежная фурнитура Roto
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="card-product__list">
                                            <div class="card-product__list-title">Отделка с утеплением:</div>
                                            <ul>
                                                <li>
                                                    <span></span>
                                                    Демонтаж старой мебели
                                                </li>
                                                <li>
                                                    <span></span>
                                                    3 слоя утеплителя для стен
                                                </li>
                                                <li>
                                                    <span></span>
                                                    Отделка ПВХ-панелями
                                                </li>
                                                <li>
                                                    <span></span>
                                                    Черновой пол, укладка ламината
                                                </li>
                                                <li>
                                                    <span></span>
                                                    Вывод розетки
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="card-product__list">
                                            <div class="card-product__list-title">Результат:</div>
                                            <ul>
                                                <li>
                                                    <span></span>
                                                    Стало тепло даже зимой
                                                </li>
                                                <li>
                                                    <span></span>
                                                    Потеплело во всех комнатах
                                                </li>
                                                <li>
                                                    <span></span>
                                                    Сроки 2 дня
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-product__bottom">
                                    <div class="card-product__prices">
                                        <div class="card-product__price">от 155 702 р</div>
                                    </div>
                                    <a href="./" data-popup="#call" class="btn">
                                        <span>Хочу так же</span>
                                    </a>
                                </div>
                            </div>
                            <div class="card-product">
                                <div class="card-product__before-after">
                                    <div data-ba class="before-after">
                                        <div data-ba-before class="before-after__item">
                                            <img loading="lazy" src="img/image11.webp" alt="">
                                        </div>
                                        <div data-ba-after class="before-after__item">
                                            <img loading="lazy" src="img/image12.webp" alt="">
                                        </div>
                                        <div data-ba-arrow class="before-after__arrows">
                                            <img loading="lazy" src="img/icon/arrows.svg" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="card-product__center">
                                    <div class="card-product__title">
                                        Работы под ключ на балконе 2,2 м²
                                    </div>
                                    <div class="card-product__location">
                                        <img loading="lazy" src="img/icon/location.svg" alt="">
                                        <span>Москва, ул. Оршанская, 9</span>
                                    </div>
                                    <div class="card-product__lists">
                                        <div class="card-product__list">
                                            <div class="card-product__list-title">Подготовительные работы:</div>
                                            <ul>
                                                <li>
                                                    <span></span>
                                                    Демонтаж старых конструкций
                                                </li>
                                                <li>
                                                    <span></span>
                                                    Возведение основания из блоков
                                                </li>
                                                <li>
                                                    <span></span>
                                                    Обшивка боковых стен
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="card-product__list">
                                            <div class="card-product__list-title">Теплый профиль Rehau:</div>
                                            <ul>
                                                <li>
                                                    <span></span>
                                                    Профиль Rehau Blitz, 60 мм
                                                </li>
                                                <li>
                                                    <span></span>
                                                    ПВХ Энергосберегающий стеклопакет
                                                </li>
                                                <li>
                                                    <span></span>
                                                    Установлены козырек и отлив
                                                </li>
                                                <li>
                                                    <span></span>
                                                    Надежная фурнитура Roto
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="card-product__list">
                                            <div class="card-product__list-title">Отделка с утеплением:</div>
                                            <ul>
                                                <li>
                                                    <span></span>
                                                    Демонтаж старой мебели
                                                </li>
                                                <li>
                                                    <span></span>
                                                    3 слоя утеплителя для стен
                                                </li>
                                                <li>
                                                    <span></span>
                                                    Отделка ПВХ-панелями
                                                </li>
                                                <li>
                                                    <span></span>
                                                    Черновой пол, укладка ламината
                                                </li>
                                                <li>
                                                    <span></span>
                                                    Вывод розетки
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="card-product__list">
                                            <div class="card-product__list-title">Результат:</div>
                                            <ul>
                                                <li>
                                                    <span></span>
                                                    Стало тепло даже зимой
                                                </li>
                                                <li>
                                                    <span></span>
                                                    Потеплело во всех комнатах
                                                </li>
                                                <li>
                                                    <span></span>
                                                    Сроки 2 дня
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-product__bottom">
                                    <div class="card-product__prices">
                                        <div class="card-product__price">от 178 050 р</div>
                                    </div>
                                    <a href="./" data-popup="#call" class="btn">
                                        <span>Хочу так же</span>
                                    </a>
                                </div>
                            </div>
                            <div class="card-product">
                                <div class="card-product__before-after">
                                    <div data-ba class="before-after">
                                        <div data-ba-before class="before-after__item">
                                            <img loading="lazy" src="img/image9.webp" alt="">
                                        </div>
                                        <div data-ba-after class="before-after__item">
                                            <img loading="lazy" src="img/image10.webp" alt="">
                                        </div>
                                        <div data-ba-arrow class="before-after__arrows">
                                            <img loading="lazy" src="img/icon/arrows.svg" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="card-product__center">
                                    <div class="card-product__title">
                                        Преображение на балконе 3,5 м²
                                    </div>
                                    <div class="card-product__location">
                                        <img loading="lazy" src="img/icon/location.svg" alt="">
                                        <span>Химки, ул. Панфилова, 4</span>
                                    </div>
                                    <div class="card-product__lists">
                                        <div class="card-product__list">
                                            <div class="card-product__list-title">Подготовительные работы:</div>
                                            <ul>
                                                <li>
                                                    <span></span>
                                                    Демонтаж старых конструкций
                                                </li>
                                                <li>
                                                    <span></span>
                                                    Возведение основания из блоков
                                                </li>
                                                <li>
                                                    <span></span>
                                                    Обшивка боковых стен
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="card-product__list">
                                            <div class="card-product__list-title">Теплый профиль Rehau:</div>
                                            <ul>
                                                <li>
                                                    <span></span>
                                                    Профиль Rehau Blitz, 60 мм
                                                </li>
                                                <li>
                                                    <span></span>
                                                    ПВХ Энергосберегающий стеклопакет
                                                </li>
                                                <li>
                                                    <span></span>
                                                    Установлены козырек и отлив
                                                </li>
                                                <li>
                                                    <span></span>
                                                    Надежная фурнитура Roto
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="card-product__list">
                                            <div class="card-product__list-title">Отделка с утеплением:</div>
                                            <ul>
                                                <li>
                                                    <span></span>
                                                    Демонтаж старой мебели
                                                </li>
                                                <li>
                                                    <span></span>
                                                    3 слоя утеплителя для стен
                                                </li>
                                                <li>
                                                    <span></span>
                                                    Отделка ПВХ-панелями
                                                </li>
                                                <li>
                                                    <span></span>
                                                    Черновой пол, укладка ламината
                                                </li>
                                                <li>
                                                    <span></span>
                                                    Вывод розетки
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="card-product__list">
                                            <div class="card-product__list-title">Результат:</div>
                                            <ul>
                                                <li>
                                                    <span></span>
                                                    Стало тепло даже зимой
                                                </li>
                                                <li>
                                                    <span></span>
                                                    Потеплело во всех комнатах
                                                </li>
                                                <li>
                                                    <span></span>
                                                    Сроки 2 дня
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-product__bottom">
                                    <div class="card-product__prices">
                                        <div class="card-product__price">от 109 843 р</div>
                                    </div>
                                    <a href="./" data-popup="#call" class="btn">
                                        <span>Хочу так же</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="heading-complex2">
                <div class="container">
                    <div class="heading-complex2__content">
                        <div class="container2">
                            <div class="heading-complex2__body">
                                <div class="heading-complex">
                                    <h2 class="title1">Сертификаты</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-certificates block1">
                <div class="container2">
                    <div class="block-certificates__content">
                        <div class="block-certificates__images">
                            <a href="img/certificates/image6.webp" data-gallery="gallery3"
                                class="block-certificates__image">
                                <img loading="lazy" src="img/certificates/image6.webp" alt="">
                                <div class="zoom"></div>
                            </a>
                            <a href="img/certificates/image1.webp" data-gallery="gallery3"
                                class="block-certificates__image">
                                <img loading="lazy" src="img/certificates/image1.webp" alt="">
                                <div class="zoom"></div>
                            </a>
                            <a href="img/certificates/image5.webp" data-gallery="gallery3"
                                class="block-certificates__image">
                                <img loading="lazy" src="img/certificates/image5.webp" alt="">
                                <div class="zoom"></div>
                            </a>
                        </div>
                        <div class="nav-bottom">
                            <button type="button" class="btn-load">
                                <span>Загрузить еще</span>
                            </button>
                            <div class="pagination">
                                <span class="pagination__item_nav pagination__item_nav-prev" href="./">
                                    <img src="img/icon/arrow1.svg" alt="">
                                    <div class="pagination__item_nav-text">
                                        Назад
                                    </div>
                                </span>
                                <div class="pagination__center">
                                    <div>
                                        <a class="pagination__item pagination__item_active" href="./">1</a>
                                    </div>
                                    <div>
                                        <a class="pagination__item" href="./">2</a>
                                    </div>
                                    <div>
                                        <a class="pagination__item pagination__item_ellipsis" href="./">...</a>
                                    </div>
                                    <div>
                                        <a class="pagination__item" href="./">14</a>
                                    </div>
                                    <div>
                                        <a class="pagination__item" href="./">15</a>
                                    </div>
                                </div>
                                <a class="pagination__item_nav pagination__item_nav-next" href="./">
                                    <div class="pagination__item_nav-text">
                                        Вперед
                                    </div>
                                    <img src="img/icon/arrow1.svg" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="heading-complex2">
                <div class="container">
                    <div class="heading-complex2__content">
                        <div class="container2">
                            <div class="heading-complex2__body">
                                <div class="heading-complex">
                                    <h2 class="title1">Сотрудники</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-teams block1">
                <div class="container2">
                    <div class="block-teams__content">
                        <div class="filter-nav">
                            <button type="button" data-filter="all" class="filter-nav__button _active">
                                <span>Все</span>
                            </button>
                            <button type="button" data-filter="teams1" class="filter-nav__button">
                                <span>Замерщики</span>
                            </button>
                            <button type="button" data-filter="teams2" class="filter-nav__button">
                                <span>Монтажники</span>
                            </button>
                            <button type="button" data-filter="teams3" class="filter-nav__button">
                                <span>Менеджеры</span>
                            </button>
                        </div>
                        <div class="block-teams__cards">
                            <div data-filter="teams1" class="card-product">
                                <div class="card-product__image">
                                    <img loading="lazy" src="img/image26.webp" alt="">
                                </div>
                                <div class="card-product__center">
                                    <div class="card-product__lists">
                                        <div class="card-product__list">
                                            <div class="card-product__list-title">Павел Кожухов</div>
                                            <ul>
                                                <li>
                                                    <span></span>
                                                    Монтажник
                                                </li>
                                                <li>
                                                    <span></span>
                                                    Стаж 15 лет
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div data-filter="teams2" class="card-product">
                                <div class="card-product__image">
                                    <img loading="lazy" src="img/image27.webp" alt="">
                                </div>
                                <div class="card-product__center">
                                    <div class="card-product__lists">
                                        <div class="card-product__list">
                                            <div class="card-product__list-title">Александр Чикалин</div>
                                            <ul>
                                                <li>
                                                    <span></span>
                                                    Замерщик
                                                </li>
                                                <li>
                                                    <span></span>
                                                    Стаж 15 лет
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div data-filter="teams3" class="card-product">
                                <div class="card-product__image">
                                    <img loading="lazy" src="img/image28.webp" alt="">
                                </div>
                                <div class="card-product__center">
                                    <div class="card-product__lists">
                                        <div class="card-product__list">
                                            <div class="card-product__list-title">Сергей Жуковский</div>
                                            <ul>
                                                <li>
                                                    <span></span>
                                                    Менеджер
                                                </li>
                                                <li>
                                                    <span></span>
                                                    Стаж 15 лет
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div data-filter="teams4" class="card-product">
                                <div class="card-product__image">
                                    <img loading="lazy" src="img/image29.webp" alt="">
                                </div>
                                <div class="card-product__center">
                                    <div class="card-product__lists">
                                        <div class="card-product__list">
                                            <div class="card-product__list-title">Степан Волков</div>
                                            <ul>
                                                <li>
                                                    <span></span>
                                                    Монтажник
                                                </li>
                                                <li>
                                                    <span></span>
                                                    Стаж 15 лет
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div data-filter="teams1" class="card-product">
                                <div class="card-product__image">
                                    <img loading="lazy" src="img/image30.webp" alt="">
                                </div>
                                <div class="card-product__center">
                                    <div class="card-product__lists">
                                        <div class="card-product__list">
                                            <div class="card-product__list-title">Григорий Тимофеев</div>
                                            <ul>
                                                <li>
                                                    <span></span>
                                                    Замерщик
                                                </li>
                                                <li>
                                                    <span></span>
                                                    Стаж 15 лет
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="heading-complex2">
                <div class="container">
                    <div class="heading-complex2__content">
                        <div class="container2">
                            <div class="heading-complex2__body">
                                <div class="heading-complex">
                                    <h2 class="title1">Контакты</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-section3 block-contacts2 block1">
                <div class="container2">
                    <div class="block-section3__body">
                        <div class="block-section3__column">
                            <div class="block-section3__image">
                                <img src="img/icon/location2.svg" alt="">
                            </div>
                            <div class="block-section3__item">
                                <div class="block-section3__title">Адреса</div>
                                <ul>
                                    <li>
                                        <span></span>
                                        г. Москва, Волоколамское шоссе, 2
                                    </li>
                                    <li>
                                        <span></span>
                                        г. Солнечногорск, ул. Красная, д. 154
                                    </li>
                                    <li>
                                        <span></span>
                                        г. Клин, ул. Новая, д. 2
                                    </li>
                                    <li>
                                        <span></span>
                                        г. Москва, Рязанский пр-т, д. 3Б, 2-й этаж
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="block-section3__column">
                            <div class="block-section3__image">
                                <img src="img/icon/time.svg" alt="">
                            </div>
                            <div class="block-section3__item">
                                <div class="block-section3__title">Время работы</div>
                                <ul>
                                    <li>
                                        <span></span>
                                        ежедневно с 10 до 19 (без выходных)
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="block-section3__column">
                            <div class="block-section3__image">
                                <img src="img/icon/phone.svg" alt="">
                            </div>
                            <div class="block-section3__item">
                                <div class="block-section3__title">Телефоны</div>
                                <ul>
                                    <li>
                                        <span></span>
                                        <a href="tel:84951288076">8 (495) 128-80-76</a>
                                    </li>
                                    <li>
                                        <span></span>
                                        <a href="tel:84951288076">8 (495) 128-80-76</a>
                                    </li>
                                    <li>
                                        <span></span>
                                        <a href="tel:84951288076">8 (495) 128-80-76</a>
                                    </li>
                                    <li>
                                        <span></span>
                                        <a href="tel:84951288076">8 (495) 128-80-76</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="block-section3__column">
                            <div class="block-section3__image">
                                <img src="img/icon/location2.svg" alt="">
                            </div>
                            <div class="block-section3__item">
                                <div class="block-section3__title">Мы в соцсетях</div>
                                <div class="socials">
                                    <a href="./">
                                        <img src="img/icon/telegram.svg" alt="">
                                    </a>
                                    <a href="./">
                                        <img src="img/icon/vk.svg" alt="">
                                    </a>
                                    <a href="./">
                                        <img src="img/icon/whatsapp.svg" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-section3 block-benefits block1">
                <div class="container2">
                    <div class="heading-complex">
                        <h2 class="title2">
                            Преимущества окон Rehau
                        </h2>
                    </div>
                    <div class="block-section3__body">
                        <img loading="lazy" src="img/products/image5.webp" alt="" class="block-section3__pic">
                        <div class="block-section3__column">
                            <div class="block-section3__image">
                                <img src="img/icon/icon5.svg" alt="">
                            </div>
                            <div class="block-section3__item">
                                <div class="block-section3__title">Прочность</div>
                                <p>
                                    Наша компания осуществляет гарантийное обслуживание систем остекления
                                </p>
                            </div>
                        </div>
                        <div class="block-section3__column">
                            <div class="block-section3__image">
                                <img src="img/icon/icon9.svg" alt="">
                            </div>
                            <div class="block-section3__item">
                                <div class="block-section3__title">Энергоэфективность</div>
                                <p>
                                    Наша компания осуществляет гарантийное обслуживание систем остекления
                                </p>
                            </div>
                        </div>
                        <div class="block-section3__column">
                            <div class="block-section3__image">
                                <img src="img/icon/icon6.svg" alt="">
                            </div>
                            <div class="block-section3__item">
                                <div class="block-section3__title">Безопасность</div>
                                <p>
                                    Наша компания осуществляет гарантийное обслуживание систем остекления
                                </p>
                            </div>
                        </div>
                        <div class="block-section3__column">
                            <div class="block-section3__image">
                                <img src="img/icon/icon8.svg" alt="">
                            </div>
                            <div class="block-section3__item">
                                <div class="block-section3__title">Шумоизоляция</div>
                                <p>
                                    Наша компания осуществляет гарантийное обслуживание систем остекления
                                </p>
                            </div>
                        </div>
                        <div class="block-section3__column">
                            <div class="block-section3__image">
                                <img src="img/icon/icon7.svg" alt="">
                            </div>
                            <div class="block-section3__item">
                                <div class="block-section3__title">Теплоизоляция</div>
                                <p>
                                    Наша компания осуществляет гарантийное обслуживание систем остекления
                                </p>
                            </div>
                        </div>
                        <div class="block-section3__column">
                            <div class="block-section3__image">
                                <img src="img/icon/icon4.svg" alt="">
                            </div>
                            <div class="block-section3__item">
                                <div class="block-section3__title">Гарантия на окна Rehau</div>
                                <p>
                                    Наша компания осуществляет гарантийное обслуживание систем остекления
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-installment-plan block1">
                <div class="container">
                    <div class="block-installment-plan__content">
                        <div class="container2">
                            <div class="block-installment-plan__body">
                                <div class="block-installment-plan__left">
                                    <h2 class="title2">
                                        Рассрочка
                                    </h2>
                                    <div class="block-installment-plan__text">
                                        <p>
                                            Остекление офисного здания, дома или квартиры может потребовать немалых
                                            вложений. Поэтому многие владельцы недвижимости меняют ПВХ конструкции
                                            поэтапно.
                                        </p>
                                        <p>
                                            Возьмите пластиковые окна в рассрочку, сделав ремонт за 1 раз! Услуга
                                            подходит для остекления балконов, строительства новых объектов, реставрации
                                            старых зданий
                                        </p>
                                    </div>
                                </div>
                                <div class="block-installment-plan__right">
                                    <ul>
                                        <li>
                                            <div class="info">
                                                <button type="button" class="info__button">
                                                    <img loading="lazy" src="img/icon/info.svg" alt="">
                                                </button>
                                                <div class="info__dropdown">
                                                    <p>
                                                        Рассрочка предоставляется на суммуот 15 000 рублей до 1 000 000
                                                        рублей.
                                                        Какой бы ни была сумма, вы ничего не переплачиваете
                                                    </p>
                                                </div>
                                            </div>
                                            <span><span class="fw">0 рублей</span> первоначальный взнос</span>
                                        </li>
                                        <li>
                                            <div class="info">
                                                <button type="button" class="info__button">
                                                    <img loading="lazy" src="img/icon/info.svg" alt="">
                                                </button>
                                                <div class="info__dropdown">
                                                    <p>
                                                        Рассрочка предоставляется на суммуот 15 000 рублей до 1 000 000
                                                        рублей.
                                                        Какой бы ни была сумма, вы ничего не переплачиваете
                                                    </p>
                                                </div>
                                            </div>
                                            <span><span class="fw">0 процентов</span> переплат за рассрочку</span>
                                        </li>
                                        <li>
                                            <div class="info">
                                                <button type="button" class="info__button">
                                                    <img loading="lazy" src="img/icon/info.svg" alt="">
                                                </button>
                                                <div class="info__dropdown">
                                                    <p>
                                                        Рассрочка предоставляется на суммуот 15 000 рублей до 1 000 000
                                                        рублей.
                                                        Какой бы ни была сумма, вы ничего не переплачиваете
                                                    </p>
                                                </div>
                                            </div>
                                            <span><span class="fw">12 месяцев</span> максимальный срок</span>
                                        </li>
                                        <li>
                                            <div class="info">
                                                <button type="button" class="info__button">
                                                    <img loading="lazy" src="img/icon/info.svg" alt="">
                                                </button>
                                                <div class="info__dropdown">
                                                    <p>
                                                        Рассрочка предоставляется на суммуот 15 000 рублей до 1 000 000
                                                        рублей.
                                                        Какой бы ни была сумма, вы ничего не переплачиваете
                                                    </p>
                                                </div>
                                            </div>
                                            <span><span class="fw">1 миллион р.</span> максимальная сумма
                                                рассрочки</span>
                                        </li>
                                        <li>
                                            <div class="info">
                                                <button type="button" class="info__button">
                                                    <img loading="lazy" src="img/icon/info.svg" alt="">
                                                </button>
                                                <div class="info__dropdown">
                                                    <p>
                                                        Рассрочка предоставляется на суммуот 15 000 рублей до 1 000 000
                                                        рублей.
                                                        Какой бы ни была сумма, вы ничего не переплачиваете
                                                    </p>
                                                </div>
                                            </div>
                                            <span><span class="fw">3 минуты</span> минимальный срок одобрения</span>
                                        </li>
                                        <li>
                                            <div class="info">
                                                <button type="button" class="info__button">
                                                    <img loading="lazy" src="img/icon/info.svg" alt="">
                                                </button>
                                                <div class="info__dropdown">
                                                    <p>
                                                        Рассрочка предоставляется на суммуот 15 000 рублей до 1 000 000
                                                        рублей.
                                                        Какой бы ни была сумма, вы ничего не переплачиваете
                                                    </p>
                                                </div>
                                            </div>
                                            <span><span class="fw">2 документа</span> необходимы для одобрения</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-banners block1">
                <div class="container">
                    <div class="block-banners__content">
                        <div class="block-banners__slider swiper">
                            <div class="block-banners__wrapper swiper-wrapper">
                                <a href="./" class="block-banners__slide swiper-slide">
                                    <img loading="lazy" src="img/image31.webp" alt="">
                                    <div class="block-banners__item">
                                        <p>
                                            Коттеджи, беседки, террасы — скидка до 20%
                                        </p>
                                    </div>
                                </a>
                                <a href="./" class="block-banners__slide swiper-slide">
                                    <img loading="lazy" src="img/image32.webp" alt="">
                                    <div class="block-banners__item">
                                        <p>
                                            Нам 30 лет – Вам тепло, уют и скидку весь август!
                                        </p>
                                    </div>
                                </a>
                                <a href="./" class="block-banners__slide swiper-slide">
                                    <img loading="lazy" src="img/image32.webp" alt="">
                                    <div class="block-banners__item">
                                        <p>
                                            Нам 30 лет – Вам тепло, уют и скидку весь август!
                                        </p>
                                    </div>
                                </a>
                                <a href="./" class="block-banners__slide swiper-slide">
                                    <img loading="lazy" src="img/image32.webp" alt="">
                                    <div class="block-banners__item">
                                        <p>
                                            Нам 30 лет – Вам тепло, уют и скидку весь август!
                                        </p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="block-banners__arrow-prev arrow-prev">
                            <img src="img/icon/arrow1.svg" alt="">
                        </div>
                        <div class="block-banners__arrow-next arrow-next">
                            <img src="img/icon/arrow1.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    {% include 'blocks/popups.njk' %}
    {% include 'blocks/scripts.njk' %}
</body>

</html>