:root {
  --container-width: 1740px;
  --container-padding: 40px;
  --theme-color-accent: #40b661;
  --theme-color-text-common: #281306;

  --font-family: "Muller", sans-serif;
  --second-family: "NotoSansTC", sans-serif;
}
